@model IEnumerable<docs.Database.Session>

@{
  ViewData["Title"] = "Сесии";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

@*<p>
      <a asp-action="Create">Create New</a>
  </p>*@
<table class="table">
  <thead>
    <tr>
      @*<th>
            @Html.DisplayNameFor(model => model.NumberInt)
        </th>*@
      <th>
        @Html.DisplayNameFor(model => model.Number)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Date)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.SessionType)
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        @*<td>
              @Html.DisplayFor(modelItem => item.NumberInt)
          </td>*@
        <td>
          <a asp-action="Index" asp-controller="SessionDocuments" asp-route-id="@item.Id">
            @Html.DisplayFor(modelItem => item.Number)
          </a>
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.SessionType)
        </td>
        @*<td>
          <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.Id">Details</a>
          <a asp-action="Index" asp-controller="SessionDocuments" asp-route-id="@item.Id">Details</a>
          <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@
      </tr>
    }
  </tbody>
</table>
