@model IEnumerable<docs.Database.Document>

@{
  ViewData["NeedShowAdminPanels"] = true;
}

<div class="row">
  @foreach (var doc in Model)
  {
    @await Html.PartialAsync("~/Areas/Users/Views/Shared/DocumentCard.cshtml", doc, ViewData)
  }
</div>
