@using System.Globalization
@using docs.Database

@{
  ViewData["Title"] = "Законодательный процесс";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
  <div class="col-8">
    <h1>@ViewData["Title"]</h1>
  </div>
  <div class="col-4 text-right">
    @if (ViewBag.ShowDocument == null)
    {
    <div class="float-right">
      <button id="filterToggleButton" type="button" class="btn btn-filter" data-toggle="modal" data-target="#findModal"><i class="fas fa-filter"> Фильтр </i></button>

      <button id="ffToExcel" onClick="ffToExcel();" type="button" class="btn btn-filter btn-filter-active"><i class="fas fa-file-excel"> Экспорт</i></button>
      <iframe id="ffToExcelFrame" style="display:none;"></iframe>
    </div>
    }
  </div>
</div>

<div id="pagination1"  class="d-flex justify-content-center pagination-div"></div>

@*<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm" style="display: none;"></ul>
</nav>*@

<div id="documents_spinner" class="d-flex justify-content-center">
  <div class="spinner-border text-primary d-none m-5" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div id="card_place" class="row">
  
</div>


@*<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm" style="display: none;"></ul>
</nav>*@

<div id="pagination2" class="d-flex justify-content-center pagination-div"></div>

@if (ViewBag.ShowDocument == null)
{
  <div class="modal fade" id="findModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ПРАВОТВОРЧЕСТВО</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="findForm" method="post" asp-action="Find">
            <div class="form-group row">
              <div class="col-12">
                <input type="text" class="form-control" id="contextFind" name="ContextFind" placeholder="Поиск по контексту">
              </div>
            </div>
            <hr />
            <div class="form-group row">
              <div class="col-7 col-lg-3 pr-lg-1">
                <select class="form-control" id="npaFind" name="NpaFind">
                  <option value="" selected="selected">Все формы НПА</option>
                  <option value="@((int) DocumentType.Decree)">Постановления</option>
                  <option value="@((int) DocumentType.DecreeProject)">Проекты постановлений</option>
                  <option value="@((int) DocumentType.Law)">Краевые законы</option>
                  <option value="@((int) DocumentType.LawProject)">Проекты законов Краснодарского края</option>
                </select>
              </div>
              <div class="col-5 col-lg-2 pr-lg-1 pl-lg-1">

                <input id="dateFind" type="text" name="DateFind" class="form-control" placeholder="Год поиска" readonly="readonly">

              </div>
              <div class="col-7 col-lg-4 mt-3 mt-lg-0 pr-lg-1 pl-lg-1">
                <select class="form-control" id="sessionFind" name="SessionFind">
                  <option value="" aria-selected="True">Все сессии</option>
                </select>
              </div>
              <div class="col-5 col-lg-3 mt-3 mt-lg-0 pl-lg-1">
                <input type="text" class="form-control" id="numberActFind" placeholder="Номер правового акта" name="NumberActFind">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-12 col-lg-5 pr-lg-1">
                <select class="form-control" id="subjectFind" name="SubjectFind">
                  <option value="" aria-selected="True">Все субъекты права законодательной инициативы</option>
                  @foreach (var subject in ViewBag.SubjectsOfLaw)
                  {
                    <option value="@subject">@subject</option>
                  }
                </select>
              </div>

              <div class="col-12 col-lg-7 mt-3 mt-lg-0 pl-lg-1">
                <div class="form-group row">
                  <label class="col-5 col-form-label">
                    Антикоррупционная экспертиза
                  </label>
                  <div class="col-1 pl-1">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="hasExpertizeFind" name="HasExpertizeFind">
                    </div>
                  </div>
                  <div class="col-3 pl-0">
                    <input id="dateExpertizeFromFind" type="text" name="DateExpertizeFromFind" class="form-control experize-date" disabled="disabled" placeholder="__.__.____">
                  </div>
                  <div class="col-3 pl-1">
                    <input id="dateExpertizeToFind" type="text" name="DateExpertizeToFind" class="form-control experize-date" disabled="disabled" placeholder="__.__.____">
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button id="ffCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button id="ffClearButton" type="button" class="btn btn-info">Очистить</button>
          <button id="ffFindButton" type="button" class="btn btn-primary" data-dismiss="modal">Поиск</button>
        </div>
      </div>
    </div>
  </div>
}

@await Html.PartialAsync("~/Areas/Users/Views/Shared/DocumentLargeCardModal.cshtml")

@section Scripts {
  <script>
    var pageSize = @ViewBag.PageSize;

    var ffStartYear = @ViewBag.StartYear;

    var showSingleDocumentId = '@(ViewBag.ShowDocument == null ? "" : ViewBag.ShowDocument)';

    var startDate = '@(ViewBag.StartDate == null ? DateTime.Today : ViewBag.StartDate.ToString(CultureInfo.InvariantCulture))';

    var startSessionId = '@(ViewBag.StartSessionId ==null ? "" : ViewBag.StartSessionId.ToString())';

    $(document).ready(function () {
      $(".card").hover(
        function () {
          $(this).addClass('shadow-lg').css('cursor', 'pointer');
        }, function () {
          $(this).removeClass('shadow-lg');
        }
      );
    });
  </script>

  <environment include="Development">
    <script asp-src-include="~/lib/jquery/jquery.form/jquery.form.js"></script>
    <script asp-src-include="~/lib/moment.js/moment-with-locales.js"></script>
    <script asp-src-include="~/lib/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script asp-src-include="~/scripts/find_form.js"></script>
    <script asp-src-include="~/scripts/pagination.js"></script>
  </environment>
  <environment exclude="Development">
    <script asp-src-include="~/lib/jquery/jquery.form/jquery.form.min.js"></script>
    <script asp-src-include="~/lib/moment.js/moment-with-locales.min.js"></script>
    <script asp-src-include="~/lib/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script asp-src-include="~/scripts/find_form.js"></script>
    <script asp-src-include="~/scripts/pagination.js"></script>
  </environment>
}
