<form class="form-signin" (ngSubmit)="register()" [formGroup]="registrationFormGroup">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Вход в систему</h2>

    <div class="form-group">
      <label for="fullname">ФИО</label>
      <input class="form-control" type="text" name="fullname" formControlName="fullname" id="fullname" />
    </div>
    <p class="alert alert-danger" *ngIf="registrationFormGroup.controls.fullname.errors?.required && registrationFormGroup.controls.fullname.touched">Требуется указать имя пользователя</p>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email" name="email" formControlName="email" id="email" />
    </div>
    <p class="alert alert-danger" *ngIf="registrationFormGroup.controls.email.errors?.required && registrationFormGroup.controls.email.touched">Требуется указать e-mail</p>
    <p class="alert alert-danger" *ngIf="registrationFormGroup.controls.email.errors?.email && registrationFormGroup.controls.email.touched">Некорректный формат e-mail</p>
    <p class="alert alert-danger" *ngIf="registrationErrors['DuplicateEmail']">Указанный e-mail занят</p>

    <div [formGroup]="passwordFormGroup">
      <div class="form-group">
        <label for="password">Пароль</label>
        <input class="form-control" type="password" name="password" formControlName="password" id="password">
      </div>
      <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.password.errors?.required && passwordFormGroup.controls.password.touched">Необходимо указать пароль</p>
      <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.password.errors?.minlength && passwordFormGroup.controls.password.touched">Длина пароля должна быть н еменьше 6 символов</p>
      <p class="alert alert-danger" *ngIf="registrationErrors['PasswordRequiresUpper'] && !passwordFormGroup.controls.password.touched">Пароль должен содержать символы в верхнем регистре</p>
      <p class="alert alert-danger" *ngIf="registrationErrors['PasswordRequiresLower'] && !passwordFormGroup.controls.password.touched">Пароль должен содержать символы в нижнем регистре</p>
      <p class="alert alert-danger" *ngIf="registrationErrors['PasswordTooShort'] && !passwordFormGroup.controls.password.touched">Пароль слишком короткий</p>
      <p class="alert alert-danger" *ngIf="registrationErrors['PasswordRequiresNonAlphanumeric'] && !passwordFormGroup.controls.password.touched">Пароль должен содержать небуквенноцифровые символы</p>

      <div class="form-group">
        <label for="repeatPassword">Подвтерждение пароля</label>
        <input class="form-control" type="password" name="repeatPassword" formControlName="repeatPassword" id="repeatPassword">
      </div>
      <p class="alert alert-danger" *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">Требуется ввести подтверждение пароля</p>
      <p class="alert alert-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Пароли не совпадают</p>

    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!registrationFormGroup.valid">Регистрация</button>
    </div>
  </div>
</form>
