@page
@using docs.Pages.Authorization
@model LoginModel

<div>
  @if (User.Identity.IsAuthenticated)
  {
    <span>Добро пожаловать @User.Identity.Name</span>
  }
  else
  {
    <span>@(Model == null ? "null" : Model.UserName)</span>

    <form asp-area="Avtorization" asp-controller="Login" asp-action="Login">
      <table>
        <tr>
          <th><span class="auth-label">Логин</span></th>
          <th><input class="auth-input" type="text" name="login" /></th>
          <th rowspan="2"><button class="auth-button" type="submit">Вход</button></th>
        </tr>
        <tr>
          <td><span class="auth-label">Пароль</span></td>
          <td><input class="auth-input" type="password" name="password" /></td>
        </tr>
      </table>

    </form>
  }
</div>
