﻿@model docs.Database.Document

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentDocument.Uuid)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnticorruptionExpertise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnticorruptionExpertise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpertiseStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpertiseStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpertiseEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpertiseEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correspondent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correspondent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileCommittee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileCommittee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Convening)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Convening)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectOfLaw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectOfLaw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasApprovedAct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasApprovedAct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rubric)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rubric.Uuid)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgendaNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgendaNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reading.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stage.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Uuid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
