﻿@model docs.Database.Document

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Uuid" />
            <div class="form-group">
                <label asp-for="ParentUuid" class="control-label"></label>
                <select asp-for="ParentUuid" class="form-control" asp-items="ViewBag.ParentUuid"></select>
                <span asp-validation-for="ParentUuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <input asp-for="ParentId" class="form-control" />
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentType" class="control-label"></label>
                <select asp-for="DocumentType" class="form-control"></select>
                <span asp-validation-for="DocumentType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsProject" /> @Html.DisplayNameFor(model => model.IsProject)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UploadDate" class="control-label"></label>
                <input asp-for="UploadDate" class="form-control" />
                <span asp-validation-for="UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechNumber" class="control-label"></label>
                <input asp-for="TechNumber" class="form-control" />
                <span asp-validation-for="TechNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AnticorruptionExpertise" /> @Html.DisplayNameFor(model => model.AnticorruptionExpertise)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ExpertiseStart" class="control-label"></label>
                <input asp-for="ExpertiseStart" class="form-control" />
                <span asp-validation-for="ExpertiseStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpertiseEnd" class="control-label"></label>
                <input asp-for="ExpertiseEnd" class="form-control" />
                <span asp-validation-for="ExpertiseEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correspondent" class="control-label"></label>
                <input asp-for="Correspondent" class="form-control" />
                <span asp-validation-for="Correspondent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileCommittee" class="control-label"></label>
                <input asp-for="ProfileCommittee" class="form-control" />
                <span asp-validation-for="ProfileCommittee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Convening" class="control-label"></label>
                <input asp-for="Convening" class="form-control" />
                <span asp-validation-for="Convening" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionNumber" class="control-label"></label>
                <input asp-for="SessionNumber" class="form-control" />
                <span asp-validation-for="SessionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectOfLaw" class="control-label"></label>
                <input asp-for="SubjectOfLaw" class="form-control" />
                <span asp-validation-for="SubjectOfLaw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasApprovedAct" class="control-label"></label>
                <input asp-for="HasApprovedAct" class="form-control" />
                <span asp-validation-for="HasApprovedAct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RubricUuid" class="control-label"></label>
                <select asp-for="RubricUuid" class="form-control" asp-items="ViewBag.RubricUuid"></select>
                <span asp-validation-for="RubricUuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionId" class="control-label"></label>
                <select asp-for="SessionId" class="form-control" asp-items="ViewBag.SessionId"></select>
                <span asp-validation-for="SessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgendaNumber" class="control-label"></label>
                <input asp-for="AgendaNumber" class="form-control" />
                <span asp-validation-for="AgendaNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadingId" class="control-label"></label>
                <select asp-for="ReadingId" class="form-control" asp-items="ViewBag.ReadingId"></select>
                <span asp-validation-for="ReadingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StageId" class="control-label"></label>
                <select asp-for="StageId" class="form-control" asp-items="ViewBag.StageId"></select>
                <span asp-validation-for="StageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultId" class="control-label"></label>
                <select asp-for="ResultId" class="form-control" asp-items="ViewBag.ResultId"></select>
                <span asp-validation-for="ResultId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

