@model IEnumerable<docs.Database.Document>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentDocument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnticorruptionExpertise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpertiseStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpertiseEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correspondent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileCommittee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Convening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectOfLaw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasApprovedAct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgendaNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentDocument.Uuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnticorruptionExpertise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpertiseStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpertiseEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correspondent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileCommittee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Convening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectOfLaw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasApprovedAct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rubric.Uuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgendaNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reading.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Uuid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Uuid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Uuid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
