@{
  ViewData["Title"] = "Управление индексированием";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div id="indexing_content" style="display: none;">
  <hr />
  <div class="row">
    <div class="col-sm-9">
      <h3 id="indexInitedState">Система индексации <span></span></h3>
    </div>
    <div class="col-sm">
      <button id="reinit_indexing" type="button" class="btn btn-danger">Переинициализировать</button>
    </div>
  </div>
  <hr />
  <dl class="row align-items-end">
    <dt class="col-sm-8">
      <h2>Количество документов</h2>
    </dt>
    <dd class="col-sm-4">
      <h2 id="count_documents"></h2>
    </dd>
    <dt class="col-sm-8">
      <h2>Количество неиндексированных документов</h2>
    </dt>
    <dd class="col-sm-4">
      <h2 id="count_notindexing_documents"></h2>
    </dd>
    <dt class="col-sm-8">
      <h2>Количество файлов</h2>
    </dt>
    <dd class="col-sm-4">
      <h2 id="count_files"></h2>
    </dd>
    <dt class="col-sm-8">
      <h2>Количество неиндексированных файлов</h2>
    </dt>
    <dd class="col-sm-4">
      <h2 id="count_notindexing_files"></h2>
    </dd>
  </dl>
  <div class="row">
    <div class="col-sm-3">
      <button id="reindex_all" type="button" class="btn btn-danger">Переиндексировать</button>
    </div>
    <div class="col-sm-9">
      <input class="form-check-input" type="checkbox" id="onlyNotIndexing" checked="true" />
      <label class="form-check-label" for="onlyNotIndexing">Только неиндексированные</label>
    </div>
  </div>
  <div id="indexing_progress" style="display: none;">
    <h3>Переиндексироавние файлов</h3>
    <div class="progress m-sm-3">
      <div id="indexing_progress_bar" class="progress-bar  progress-bar-striped  progress-bar-animated" style="width: 10%">80%</div>
    </div>
  </div>
</div>


@section Scripts
  {
  <environment include="Development">
    <script src="~/scripts/admin_indexing.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/scripts/admin_indexing.min.js"></script>
  </environment>
  
}
