<form class="form-signin" [formGroup]="loginFormGroup" (ngSubmit)="login()" *ngIf="!router.url.startsWith('/logout')">

  <div class="modal-header">
    <h4 class="modal-title">Вход в систему</h4>
  </div>
  <div class="modal-body">
      <div class="container-fluid">
          <div *ngIf="invalidLogin" class="alert alert-danger">Неправильные e-mail или пароль.</div>
          <br />
        <div class="form-group">
          <label for="email">E_mail</label>
          <input class="form-control" type="text" name="email" formControlName="email" id="email" />
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input class="form-control" type="password" name="password" formControlName="password" id="password">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.hide()" *ngIf="isModal()">Закрыть</button>
    <button class="btn btn-primary" type="submit">Вход</button>
  </div>
</form>
