<div class="summary-content">
  <h1>Сводная информация</h1>
  <hr/>
  <dl *ngIf="summary" class="row align-items-end">
    <dt class="col-lg-5 col-md-6 col-sm-8">
      <h2>Количество документов</h2>
    </dt>
    <dd class="col-lg-7 col-md-6 col-sm-4">
      <h2 id="count_documents">{{summary.documentsCount}}</h2>
    </dd>
    <dt class="col-lg-5 col-md-6 col-sm-8">
      <h2>Не отправленные Email</h2>
    </dt>
    <dd class="col-lg-7 col-md-6 col-sm-4">
      <h2 id="count_email">{{summary.notSentEmailCount}}</h2>
    </dd>
    <dt class="col-lg-5 col-md-6 col-sm-8">
      <h2>Контекстный поиск</h2>
    </dt>
    <dd class="col-lg-7 col-md-6 col-sm-4">
      <h2 id="context_initialized"
          [class.text-success]="summary.elasticIsInit"
          [class.text-warning]="!summary.elasticIsInit">
        {{summary.elasticIsInit ? "ИНИЦИАЛИЗИРОВАН" : "НЕ ИНИЦИАЛИЗИРОВАН"}}
      </h2>
    </dd>
  </dl>
</div>
