:root{
}

@media (max-width: 1200px) {
  html {
    font-size: 16px;
  }
  .modal-lg, .modal-xl {
    max-width: 90vw;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 15px;
  }
  .modal-lg, .modal-xl {
    max-width: 90vw;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
  .modal-lg, .modal-xl {
    max-width: 90vw;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
  .modal-lg, .modal-xl {
    max-width: 95vw;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 10px;
  }
  .modal-lg, .modal-xl {
    max-width: 98vw;
  }
}


.body-content-small {
  width: 100%;
  max-width: 100%;
  padding: 0;
  height: calc(100vh - 45px);
  margin: 45px 0 0 0;
  border-width: 0;
  overflow: hidden;
}

.auth-label {
  font-size: 0.7em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.auth-input {
  height: calc(1em + 0.5rem);
}

.auth-button {
  border-radius: 5px;
  background-color: aquamarine;
  margin: 0 0 0 5px;
  padding: 0 3px;
}

.main-logo {
  color: #9195a0;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-logo__icon {
  margin-right: 15px;
  margin-bottom: 6px;
  color: #9195a0;
}

.main-logo__main-logo-symbol {
  display: inline-block;
  fill: currentColor;
  font-size: 37px;
  width: 89px;
  min-width: 89px;
  height: 1em;
}

.main-tile {
  color: white;
  background-color: #3b4256 !important;
}

.main-logo__title-wrapper {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  line-height: 0.5;
  vertical-align: middle;
}

.main-logo__title {
  display: block;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.main-logo__subtitle {
  display: inline-block;
  line-height: 1.42857;
  letter-spacing: 0.02142857142857143em;
  font-size: 16px;
}

.main-tile-small {
  color: white;
  background-color: #3b4256 !important;
  height: 45px;
}

.main-logo__title-small {
  display: block;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.main-logo__subtitle-small {
  display: inline-block;
  line-height: 1.0;
  letter-spacing: 0.02142857142857143em;
  font-size: 0.9rem;
}

h1.main-logo__title-wrapper-small {
  font-size: 1.8rem;
}

.card {
  border-color: #3b4256;
}

.card-header {
  background-color: white;
  max-height: 10rem;
  min-height: 10rem;
}

.doc-num {
  font-size: 1.3rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.card-text {
  height: 6rem;
  line-height: 1.115;
  font-size: 0.9em;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: #000000;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid #000000;
  border-top: 1px solid rgba(0,0,0,.125);
  font-size: 0.85em;
}

  .card-footer.row {
    margin: 0;
    padding: 0;
  }

.card-file-names {
  font-size: 0.9em;
}

.large-card-header {
  background: #505974;
  color: white;
}

@media (min-width: 544px) {
  .large-card-header {
    padding: 4px 17px;
    font-size: 0.8rem;
  }
  /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .large-card-header {
    padding: 6px 20px;
    font-size: 1rem;
  }
  /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .large-card-header {
    padding: 8px 23px;
    font-size: 1.2rem;
  }
  /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .large-card-header {
    padding: 10px 25px;
    font-size: 1.4rem;
  }
  /*1rem = 16px*/
}

.rubric-row {
  border-bottom: 1px solid darkgray;
}

.rubric-row-first {
  border-top: 1px solid darkgray;
}

.large-card-rubric-header {
  background-color: #f7f7f7;
  font-size: 1.1em;
  font-weight: 500;
  padding: 5px 15px;
}

.large-card-rubric-item {
  padding: 5px 15px;
}

.large-card-rubric-item_header {
  background-color: #f7f7f7;
  font-weight: 500;
  padding: 5px 15px;
}

  .large-card-rubric-item_header ul li {
    list-style-type: none;
  }

.vert-line {
  margin: auto;
  width: 0;
  border: 2px solid black;
  height: 100%;
}

.horizont-line {
  margin: auto;
  width: 100%;
  border: 1px solid black;
  height: 0;
}

.card-anchor {
  color: black;
}

  .card-anchor:hover {
    color: black;
    text-decoration: none;
  }

.bg-silver {
  background-color: #818ba9;
}

.color-silver {
  color: #818ba9;
}

.bg-silver .svg-check {
  background: url(../images/check.png) no-repeat center;
  background-size: 16px 24px;
  width: 100%;
  height: 100%;
}

.bg-silver .svg-three-bars {
  background: url(../images/three-bars.png) no-repeat center;
  background-size: 16px 16px;
  width: 100%;
  height: 100%;
}

.bg-silver .svg-chevron-right {
  background: url(../images/chevron-right.png) no-repeat center;
  background-size: 16px 24px;
  width: 100%;
  height: 100%;
}

.bg-silver .svg-passport {
  background: url(../images/passport.png) no-repeat center;
  background-size: 16px 16px;
  width: 100%;
  height: 100%;
}

.bg-silver .svg-pdf {
  background: url(../images/pdf.png) no-repeat center;
  background-size: 16px 16px;
  width: 100%;
  height: 100%;
}

.bg-silver .svg-globe {
  background: url(../images/globe.png) no-repeat center;
  background-size: 16px 16px;
  width: 100%;
  height: 100%;
}

.bg-silver .svg-publish {
  background: url(../images/publish.png) no-repeat center;
  background-size: 16px 16px;
  width: 100%;
  height: 100%;
}

.bg-silver .svg-digit-1 {
  background: url(../images/digit_1.png) no-repeat center;
  background-size: 24px 24px;
  width: 100%;
  height: 100%;
}

.bg-silver .svg-digit-2 {
  background: url(../images/digit_2.png) no-repeat center;
  background-size: 24px 24px;
  width: 100%;
  height: 100%;
}

.bg-silver .svg-digit-3 {
  background: url(../images/digit_3.png) no-repeat center;
  background-size: 24px 24px;
  width: 100%;
  height: 100%;
}

.permalink {
  color: black;
}

  .permalink:hover {
    color: slategrey;
    text-decoration: none;
  }

.font-size-1-25 {
  font-size: 1.25em;
}

.pdf-viewer {
  width: 100%;
  height: calc(100% - 50px);
  margin: 0;
  padding: 0;
}

.pdf-file-title {
  background-color: #505974;
  height: 50px;
  padding-left: 3%;
  color: #f7f7f7;
  font-size: 1.1rem;
  display: table-cell;
  width: 100vw;
  height: 50px;
  vertical-align: middle;
}

.card-ac {
  border-bottom: 2px solid #f4f7fb !important;
  font-weight: 500;
}

.card-text-ac {
  line-height: 1.115;
  font-size: 0.9em;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

  .card-ac:hover {
    border-bottom-color: #4a65ce !important;
  }

  .card-ac .card-header-ac {
    background-color: white;
    max-height: 10em;
    min-height: 10em;
    border: none;
    font-size: 16px !important;
  }

    .card-ac .card-header-ac .card-text-ac {
      font-size: 16px !important;
    }

  .card-ac:hover .card-header-ac {
    color: #4a65ce;
  }

  .card-ac .card-footer-ac {
    background-color: white;
    color: #626878;
  }

  .card-ac:hover .card-footer-ac {
    color: black;
  }

.btn-sm-gray {
  font-size: 12px;
  padding: 5px 13px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  height: 26px;
  line-height: 13px;
  background-color: #f4f7fb;
  color: #9195a0;
  font-weight: 500;
}

  .btn-sm-gray:hover {
    background-color: #4a65ce;
    color: #fff;
  }

svg:not(:root) {
  overflow: hidden;
}

.button__upload-symbol {
  display: inline-block;
  fill: currentColor;
  font-size: 12px;
  width: 9px;
  min-width: 9px;
  height: 1em;
}

.button__doc-type-symbol {
  display: inline-block;
  fill: currentColor;
  font-size: 10px;
  width: 9px;
  min-width: 9px;
  height: 1em;
}

.btn-sm .button__icon {
  margin-left: 0;
  margin-right: 10px;
}

.title {
  font-family: GOSTUI2, SF Pro Display, Arial, sans-serif !important;
  font-size: 1.9rem !important;
  letter-spacing: -0.7px !important;
  line-height: 40px !important;
  font-weight: 600 !important;
}

.round-icon {
  width: 1.875rem;
  height: 1.875rem;
  margin: auto;
  position: relative;
  z-index: 100;
}

.tm-item {
  background: #818ba9;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  width: 1.9rem;
  height: 1.9rem;
  line-height: 1.9rem;
  font-size: 1rem;
}

.header-subtitle-1 {
  min-height: 100px;
  max-height: 100px;
  height: 100px;
  background: #505974;
  color: white;
  font-weight: normal;
  font-size: 20px;
  padding-top: 40px;
}

.header-subtitle-2 {
  background-color: #f4f7fb;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 576px) {
  .header-subtitle-1, .header-subtitle-2 {
    padding-left: calc((100vw - 540px)/2);
    padding-left: -moz-calc((100vw - 540px)/2);
    padding-left: -webkit-calc((100vw - 540px)/2);
  }
}

@media (min-width: 768px) {
  .header-subtitle-1, .header-subtitle-2 {
    padding-left: calc((100vw - 720px)/2);
    padding-left: -moz-calc((100vw - 720px)/2);
    padding-left: -webkit-calc((100vw - 720px)/2);
  }
}

@media (min-width: 992px) {
  .header-subtitle-1, .header-subtitle-2 {
    padding-left: calc((100vw - 960px)/2);
    padding-left: -moz-calc((100vw - 960px)/2);
    padding-left: -webkit-calc((100vw - 960px)/2);
  }
}

@media (min-width: 1200px) {
  .header-subtitle-1, .header-subtitle-2 {
    padding-left: calc((100vw - 1140px)/2);
    padding-left: -moz-calc((100vw - 1140px)/2);
    padding-left: -webkit-calc((100vw - 1140px)/2);
  }
}

.session-card-body {
  margin: 10px;
  padding: 15px;
  min-height: 14rem;
  max-height: 14rem;
  width: 100%;
  border: 1px solid #000000;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

  .session-card-body .session-date {
    font-size: 0.75rem;
    color: #9195a0;
  }

  .session-card-body .session-name {
    font-weight: 600;
    color: #464952;
    line-height: 1.2;
    font-size: 1.5rem;
  }

  .session-card-body .session-items .session-item {
    color: #9195a0;
    cursor: pointer;
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(0,0,0,.125);
    padding: 0.5rem 0;
  }

    .session-card-body .session-items .session-item:hover {
      color: black;
    }

  .session-card-body .session-items {
    color: #9195a0;
    font-size: 1rem;
    line-height: 1.125;
    margin-top: 0.35rem;
    padding: 0.35rem 1.25rem;
  }

    .session-card-body .session-items .session-item:first-child {
      border-top: 0 !important;
    }

.small-text {
  color: darkgray !important;
  font-size: 80%;
}

.btn-filter {
  color: #9195a0;
  background-color: #3b4256;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

  .btn-filter:hover {
    background-color: gainsboro;
  }

    .btn-filter:hover i {
      color: black;
    }

.btn-filter-active {
  color: white !important;
}

.page-link {
  color: #3b4256;
}

  .page-link:hover {
    color: darkgray;
  }

.page-item.active .page-link {
  background-color: #3b4256;
  border-color: #3b4256;
}

.pdf-file-name {
  width: 94vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-weight: 500;
}
.pdf-file-subtitle {
  width: 94vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-size: 0.8rem;
  color: #818ba9;
  font-weight: 500;
}

button.close {
  color: #ffffff;
  text-shadow: none;
}

button.close:hover {
  color: darkgrey;
  
}

  button.close:focus {
    outline: none;
  }
