<div class="container">
  <div *ngIf="null === users">Загрузка...</div>
  <table class="table">
    <tr><th>Email</th><th>ФИО</th><th></th></tr>
    <tr *ngFor="let user of users">
      <td>{{user.email}}</td>
      <td>{{user.fullName}}</td>
      <td>
        <a class="btn btn-sm btn-primary text-light control-btn" (click)="editUser(user.id)">Изменить</a>
        <a class="btn btn-sm btn-danger text-light control-btn" (click)="deleteUser(user.id)" *ngIf="!user.isNotDeleted">Удалить</a>
      </td>
    </tr>
  </table>
</div>
