@model IEnumerable<docs.Models.UserModel>

@{
  ViewData["Title"] = "Пользователи";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
  <a asp-action="Create">Добавить</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Email)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Phone)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Email)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Phone)
      </td>
      <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
      </td>
    </tr>
    }
  </tbody>
</table>
