@model IEnumerable<docs.Database.Document>

@if (Model == null || !Model.Any())
{
  <h2>Нет документов</h2>
}
else
{
  <input id="uploadFile" style="display: none;" height="0" type="file" name="files[]" accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document">
  <div class="row">

    @foreach (var doc in Model)
    {
      @await Html.PartialAsync("/Areas/Users/Views/Shared/AntiCorruptionCard.cshtml", doc)
    }
  </div>
}
