@*@model IEnumerable<docs.Database.Document>*@

@{
  ViewData["Title"] = "Независимая антикоррупционная экспертиза";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("/Views/Shared/SvgImages.cshtml")

<h1 class="mb-5 mt-5 title">@ViewData["Title"]</h1>
<div id="documentsPlaceholder"></div>
@*@if (Model == null || !Model.Any())
{
  <h2>Нет документов</h2>
}
else
{
  <input id="uploadFile" style="display: none;" height="0" type="file" name="files[]" accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document">
  <div class="row">

    @foreach (var doc in Model)
    {
      @await Html.PartialAsync("/Areas/Users/Views/Shared/AntiCorruptionCard.cshtml", doc)
    }
  </div>
}*@

@section Scripts{

  <environment include="Development">
    <script asp-src-include="~/scripts/download_file.js" type="text/javascript"></script>
  </environment>
  <environment exclude="Development">
    <script asp-src-include="~/scripts/download_file.min.js" type="text/javascript"></script>
  </environment>
  <script>

    $(document).ready(function() {
      GetPlaceholder();
    });

    function GetPlaceholder() {
      $.ajax({
        url: baseUrl + "Users/AntiCorruption/Documents?baseSiteName=" + baseSiteName,
        method: 'GET',
        success: function (data) {
          $("#documentsPlaceholder").html(data.context);
          downloadFileInit();
          OnResize(30);
        },
        error: function () {
          OnResize(30);
        }
      });
    }
  </script>
}
