<div *ngIf="null === role">Загрузка...</div>

<div *ngIf="null !== role || role.id !== ''">
<form class="form-user" [formGroup]="roleFormGroup" (ngSubmit)="save()">

  <div class="modal-header">
    <h4 class="modal-title">Роль</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div *ngIf="error" class="alert alert-danger">Произошла ошибка пои сохранении данных.
        <div>{{errorText}}</div>
      </div>
      <div class="form-group">
        <label for="roleName">Название</label>
        <input class="form-control" type="text" name="roleName" formControlName="roleName" id="roleName"/>
        <p class="alert alert-danger" *ngIf="roleFormGroup.controls.roleName.errors?.required && roleFormGroup.controls.roleName.touched">Требуется указать название роли</p>
      </div>
      <div class="form-group">
        <label for="description">Описание</label>
        <input class="form-control" type="text" name="description" formControlName="description" id="description" />
      </div>
      <div class="form-group">
        <label for="specificRight">Специальное разрешение</label>
        <input class="form-control-checkbox" type="checkbox" name="specificRight" formControlName="specificRight" id="specificRight" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.hide()">Закрыть</button>
    <button class="btn btn-primary" type="submit" [disabled]="!roleFormGroup.valid">Сохранить</button>
  </div>
</form>
</div>
