@using docs.Extensions
@using Microsoft.AspNetCore.Http
@{
  ViewData["Title"] = "Администрирование";
}
<!DOCTYPE html>

<html lang="ru">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href='@Url.AbsoluteContent("~/Management/Administration")'>
  <base href='@Url.AbsoluteContent("~/")' />
  <title>Зак. Cобрание КК - @ViewData["Title"]</title>
  <link rel="icon" type="image/x-icon" src="~/favicon.ico" />
  <link href="~/client_app/styles.css" rel="stylesheet" />
</head>
<body>
  <app-root>Загрузка...</app-root>

  <script asp-src-include="~/client_app/runtime.js"></script>
  @if (Context.Request.IsInternetExplorer())
  {
    <script asp-src-include="~/client_app/polyfills-es5.js"></script>
  }
  else
  {
    <script asp-src-include="~/client_app/polyfills.js"></script>
  }
  <script asp-src-include="~/client_app/vendor.js"></script>
  <script asp-src-include="~/client_app/main.js"></script>


  @*@if (Context.Request.IsInternetExplorer())
    {
      <script asp-src-include="~/client_app/runtime-es5.js" nomodule defer></script>
      <script asp-src-include="~/client_app/polyfills-es5.js" nomodule defer></script>
      <script asp-src-include="~/client_app/vendor-es5.js" nomodule defer></script>
      <script asp-src-include="~/client_app/main-es5.js" nomodule defer></script>
    }
    else
    {
      <script asp-src-include="~/client_app/runtime-es2015.js"></script>
      <script asp-src-include="~/client_app/polyfills-es2015.js" type="module"></script>
      <script asp-src-include="~/client_app/vendor-es2015.js" type="module"></script>
      <script asp-src-include="~/client_app/main-es2015.js" type="module"></script>
    }*@

</body>
</html>

