.card {
  border-color: #3b4256;
}

.card-header {
  background-color: white;
  max-height: 10rem;
  min-height: 10rem;
}

.card-anchor {
  color: black;
}

.card-anchor:hover {
  color: black;
  text-decoration: none;
}

.doc-num {
  font-size: 1.3rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.card-text {
  line-height: 1.115;
  font-size: 0.9em;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-footer, .admin-card-header {
  padding: .75rem 1.25rem;
  background-color: #000000;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid #000000;
  border-top: 1px solid rgba(0,0,0,.125);
  font-size: 0.85em;
}

.admin-card-header input {
  margin-left: 1rem;
}
