<div class="row overflow-hidden main-row">
  <div class="col-2 bg-dark text-white pt-1 overflow-hidden doc-menu d-flex">
    <div class="ml-2" *ngIf="convocations.length > 0">
      <h1>Созыв</h1>
      <select *ngIf="convocations.length" id="convocations" class="form-control"
              [(ngModel)]="convocationId"
              (ngModelChange)="onConvocationChange()"
              [disabled]='isConvDisabled'>
        <option *ngFor="let convocation of convocations" [ngValue]="convocation.id">
          {{convocation.name}}
        </option>
      </select>
      <hr style="color: #fff; background-color: #fff;" />
      <h1 *ngIf="sessions.length">Cесии</h1>
      <hr *ngIf="sessions.length" style="color: #fff; background-color: #fff;" />
    </div>
    <div class="overflow-auto sessions">
      <div *ngIf="sessions.length" id="session_menu" role="tablist" aria-orientation="vertical" class="nav navbar-dark flex-column nav-pills mt-1">
        <a *ngFor="let session of sessions" [routerLink]="" (click)="sessionSelected($event, session.id)"
           class="nav-link navbar-text mb-1 p-1"
           [class.bg-dark]="selectedSessionId != session.id"
           [class.bg-info]="selectedSessionId == session.id"
           [class.selected-session]="selectedSessionId == session.id"
           id="session_{{session.id}}" data-toggle="pill" role="tab" aria-selected="false">{{session.name}}</a>
      </div>
    </div>
  </div>
  <div class="col-10 d-flex">
    <div class="overflow-auto doc-place">
      <div *ngIf="documents.length" class="row sessions">
        <div *ngFor="let doc of documents" class="col-sm-6">
          <app-document-card [doc]="doc"></app-document-card>
        </div>
      </div>
    </div>
  </div>
</div>
