:host {
  width: 100vw;
  height: calc(100vh - 56px);
  height: -moz-calc(100vh - 56px);
  height: -webkit-calc(100vh - 56px);
}

h1 {
  font-size: 1.5rem;
}

.main-row {
  max-height: 100%;
  min-height: 100%;
}

.doc-menu {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  max-height: 100%;
  height: calc(100vh - 56px);
  height: -moz-calc(100vh - 56px);
  height: -webkit-calc(100vh - 56px);
}


.sessions {
  flex: 1 1 auto;
  height: 0;
}

.session-row {
  position: relative;
  bottom: 0;
}

.selected-session {
  color: cornsilk;
}

.doc-place {
  width: 100%;
}
