<div class="card m-1 border card" *ngIf="doc">

  <div [ngClass]="{
       'p-1' : true,
       'text-md-right' : true,
       'admin-card-header' : true,
       'bg-success': doc && !sendToggle && doc.displayOnTheSite,
       'bg-danger': doc && !sendToggle && !doc.displayOnTheSite}">
    <span><b>Опубликовать</b></span>
    <input type="checkbox" [(ngModel)]="doc.displayOnTheSite" (change)="onToggle()" [disabled]="(sendToggle ? 'disabled':null)"/>
  </div>

  <div class="p-3 card-header">

    <span class="doc-num">
      {{doc.documentNumber}} {{doc.documentName}}
    </span>

    <div class="card-text">{{doc.content}}</div>
  </div>
  <ul *ngIf="doc.dependentDocuments.length > 0">
    <li *ngFor="let dd of doc.dependentDocuments">
      {{dd.number}} {{dd.name}} {{dd.date  | date:"dd.MM.yyyy"}}
    </li>
  </ul>

  <div class="p-1 text-md-right card-footer">
    {{doc.date | date:"dd.MM.yyyy"}}
    <br />

    <span *ngIf="doc.anticorruptionExpertise">экспертиза c {{doc.expertiseStart | date:"dd.MM.yyyy"}} по {{doc.expertiseEnd | date:"dd.MM.yyyy"}}</span>
    <br />
    <span>
      опубликовано {{doc.publishDate | date:"dd.MM.yyyy"}}
    </span>
  </div>
</div>
