@using docs.Database
@using docs.Extensions
@model docs.Database.Document

<div id="Adding" class="row">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 text-center">
    <div class="row" style="height: 100%;">
      <div class="col-8 pl-0 pr-0" style="font-size: 0.8rem;">
        @if (Model.DocumentType == DocumentType.Decree || Model.DocumentType == DocumentType.Law)
        {
          if (Model.ParentDocument?.DocumentType == DocumentType.DecreeProject)
          {
            @Model.ParentDocument?.Date.ToString("dd.MM.yyyy")
          }
        }
        else
        {
          @Model.Date.ToString("dd.MM.yyyy")
        }
      </div>
      <div class="col-4 pl-0 pr-0">
        <div class="rounded-circle text-center bg-silver align-items-center round-icon">
          <i class="fas fa-angle-right tm-item"></i>
        </div>
        <div class="vert-line"></div>
      </div>
    </div>
  </div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11">
    <div class="row rubric-row">
      <div class="col-12 large-card-rubric-header">
        <span>Внесение проекта в Законодательное Собрание Краснодарского края</span>
        <br />
        <span style="color:dimgray">Регистрация проекта и материалов к нему в управлении делами</span>
      </div>
    </div>

    <div class="row rubric-row">
      <div class="col-sm-8 large-card-rubric-item">
        <span>Зарегистрирован и направлен председателю Законодательного Собрания Краснодарского края</span>
      </div>
      <div class="col-sm-4 align-self-center text-right large-card-rubric-item">
        @if (Model.DocumentType == DocumentType.DecreeProject || Model.DocumentType == DocumentType.LawProject)
        {
          <span>@Html.DisplayFor(model => model.Date) (рег. № @Html.DisplayFor(model => model.Number) )</span>
        }
      </div>
    </div>
    @{
      var files = (Model.DocumentType == DocumentType.Decree || Model.DocumentType == DocumentType.Law)
        ? Model.ParentDocument?.DocumentType == DocumentType.LawProject
          ? null
          : Model.ParentDocument?.Files
        : Model.Files;

        if (files != null && files.OnlyIsSend().Any())
        {
         <div class="row rubric-row">
           <div class="col-12 large-card-rubric-item">
             <ul>
               @foreach (var file in files.OnlyIsSend().OrderBy(el => el.OrderNum))
               {
                 <li>
                   <a target="_blank" class="permalink" asp-area="Users" asp-controller="PdfViewer" asp-action="Index" asp-route-docUuid="@file.DocumentUuid" asp-route-fileUuid="@file.Uuid" asp-route-fileName="@file.Description" asp-route-scheme="@ViewData["scheme"]">@file.Name</a>
                 </li>
               }
             </ul>
           </div>
         </div>
       }
    }
  </div>
</div>
