@using docs.Database
@using docs.Extensions
@model docs.Database.Document


<div class="col-12 col-lg-6">

  <div class="card m-1 border-0 card-ac">
    <div class="p-3 card-header-ac">
      @{
        var prefix = Model.DocumentType == DocumentType.LawProject
          ? "Проект закона Заканодательного Cобрания Краснодарского края"
          : "Проект постановления Законодательного Cобрания";
      }
      <div class="card-text-ac">@prefix "@Model.FinalContent"</div>
    </div>

    <div class="p-3 card-footer-ac">
      <span>Заключения по результатам независимой антикоррупционной экспертизы принимаются с @Html.DisplayFor(model => model.ExpertiseStart) - по @Html.DisplayFor(model => model.ExpertiseEnd)</span>
      <br /><br />
      @if (Model.Files != null && Model.Files.Any())
      {
        var file = Model.Files.FirstOrDefault(el => el.Description.ToLower().Contains("проект"))
                   ?? (Model.Files.Count >= 3
          ? Model.Files.OrderBy(el => el.OrderNum).Skip(2).Take(1).Single()
          : Model.Files.OrderBy(el => el.OrderNum).First());
        if (file.Send)
        {
          <a class="btn btn-sm btn-sm-gray" asp-area="Files" asp-controller="File" asp-action="Download" asp-route-docUuid="@file.DocumentUuid" asp-route-fileUuid="@file.Uuid" asp-route-fileName="Проект.pdf"><svg class="icon button__icon button__doc-type-symbol"><use xlink:href="#button__doc-type-symbol"></use></svg>PDF</a>
        }
      }
        <a class="btn btn-sm btn-sm-gray btn-send-file" docUuid="@Model.Uuid" href="#">
          <svg class="icon button__icon button__upload-symbol"><use xlink:href="#button__upload-symbol"></use></svg>
          <span>Отправить заключение</span>
        </a>
    </div>
  </div>
</div>
