@using docs.Database
@model docs.Models.FindResult;

@if (!Model.ForSession)
{
  <div class="row pl-3" style="width: 100%;">
    <div class="col-10">
      @if (Model.Title != null)
      {
        <div>
          <h4>@Model.Title</h4>
        </div>
      }
      <div>
        <span>Найдено @Model.Count документов</span>
      </div>
    </div>
    <div class="col-2">

    </div>

  </div>
}

@if (Model.Documents.Any())
{
  <div class="row mr-0 ml-0" style="width: 100%;">
    @foreach (var doc in Model.Documents)
    {
      if (Model.ForSession)
      {
        if (doc.DocumentType == DocumentType.Law && doc.ParentDocument != null)
        {
          @await Html.PartialAsync("DocumentCardForSessionView", doc.ParentDocument, ViewData)
        }
        else
        {
          @await Html.PartialAsync("DocumentCardForSessionView", doc, ViewData)
        }

      }
      else
      {
        if (doc.DocumentType == DocumentType.Law && doc.ParentDocument != null)
        {
          @await Html.PartialAsync("DocumentCard", doc.ParentDocument, ViewData)
        }
        else
        {
          @await Html.PartialAsync("DocumentCard", doc, ViewData)
        }
      }
    }
  </div>
}
