@using docs.Database
@using docs.Extensions
@model docs.Models.LettersWithDecree

<div id="DecreeResult" class="row">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 text-center">
    <div class="row" style="height: 100%;">
      <div class="col-8 pl-0 pr-0" style="font-size: 0.8rem;">
        @Model.Decree.Date.ToString("dd.MM.yyyy")
      </div>
      <div class="col-4 pl-0 pr-0">
        <div class="rounded-circle text-center bg-silver align-items-center round-icon">
          <i class="fas fa-angle-right tm-item"></i>
        </div>
        <div class="vert-line"></div>
      </div>
    </div>
  </div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11">
    <div class="row rubric-row">
      <div class="col-sm-8 large-card-rubric-header">
        Постановление принято
      </div>
      <div class="col-sm-4 text-right large-card-rubric-header" style="font-size: 1rem; font-weight: normal;">
        @{
          var session = Model.Decree.Session ?? Model.Letters?.First().Session;

          if (session != null)
          {
            var datePart = session.Date.HasValue ? $" от {session.Date?.ToString("dd.MM.yyyy")}" : string.Empty;

            <span>сессия: @session.NumberInt @session.SessionType@datePart</span>
          }
        }
      </div>
    </div>

    @if (Model.Letters != null && Model.Letters.Any())
    {
      <div class="row rubric-row">
        <div class="col-sm-8 large-card-rubric-item">
          <ul>
            @foreach (var letter in Model.Letters)
            {
              if (letter.Files != null && letter.Files.OnlyIsSend().Any())
              {
                foreach (var file in letter.Files.OnlyIsSend().OrderBy(el => el.OrderNum))
                {
                  var fileName = $"{file.Name} (№ {letter.Number} от {letter.Date.ToString("dd.MM.yyyy")})";
                  <li>
                    <a target="_blank" class="permalink" asp-area="Users" asp-controller="PdfViewer" asp-action="Index" asp-route-docUuid="@file.DocumentUuid" asp-route-fileUuid="@file.Uuid" asp-route-fileName="@fileName" asp-route-scheme="@ViewData["scheme"]">@fileName</a>
                  </li>
                }
              }
            }
            @{
              var conclusionList = Model.Conclusion;

              if (conclusionList != null)
              {
                foreach (var conclusion in conclusionList)
                {
                  if (conclusion.Files != null)
                  {
                    foreach (var file in conclusion.Files.OnlyIsSend().OrderBy(el => el.OrderNum))
                    {
                      <li>
                        <a target="_blank" class="permalink" asp-area="Users" asp-controller="PdfViewer" asp-action="Index" asp-route-scheme="@ViewData["scheme"]" asp-route-docUuid="@file.DocumentUuid" asp-route-fileUuid="@file.Uuid" asp-route-fileName="@file.Description">@file.Name (№@conclusion.Number от @conclusion.Date.ToString("dd.MM.yyyy"))</a>
                      </li>
                    }
                  }
                }
              }
            }
          </ul>
        </div>
      </div>
    }
  </div>
</div>
