<style>
  #documentModal h4 {
    font-size: 1.25rem;
    font-weight: normal;
  }
</style>

<div class="modal" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header large-card-header">
        <div>
          <h3 class="modal-title">Законодательное Cобрание Краснодарского края</h3>
          <h4 class="modal-title" id="modalLabelLarge"></h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body ml-2 mr-2" style="min-height: 300px;">

      </div>

    </div>
  </div>
</div>
<environment include="Development">
  <script src="~/scripts/large_card_modal.js"></script>
</environment>
<environment exclude="Development">
  <script src="~/scripts/large_card_modal.min.js"></script>
</environment>
