@using docs.Database
@using docs.Extensions
@model docs.Database.Document
<div class="row rubric-row">
  <div class="col-sm-12 large-card-rubric-item">
    <span class="font-weight-bold font-size-1-25">ЭРК по событиям</span>
  </div>
</div>
<div class="row rubric-row large-card-rubric-item_header">
  <div class="col-sm-4 align-self-center text-center large-card-rubric-item_header">
    <span class="font-weight-normal">СТАДИИ РАССМОТРЕНИЯ</span>
  </div>

  <div class="col-sm-8 align-self-center align-items-center align-content-center large-card-rubric-header">
    <div class="d-flex align-items-center">
      <div class="d-inline-block">
        <div style="height: 40px"></div>
        <div class="d-flex align-items-center">

          <a onclick="ScrollModal('#Adding');">
            <div class="d-inline-block m-0 p-0 rounded-circle text-center bg-silver align-items-center round-icon" title="Внесение проекта в Законодательное Собрание Краснодарского края">
              <i class="fas fa-angle-right tm-item"></i>
            </div>
          </a>

          <div class="d-inline-block m-0 p-0 horizont-line" style="width: 20px;">
          </div>

          <a onclick="ScrollModal('#Walkthrough');">
            <div class="d-inline-block m-0 p-0 rounded-circle text-center bg-silver align-items-center round-icon" title="Направлен в профильный комитет">
              <i class="fas fa-tasks tm-item"></i>
            </div>
          </a>
          @{
            var documentTypes = Model.ChildeDocuments?
              .Where(el => (int)el.DocumentType > 50)
              .Select(el => el.DocumentType)
              .Distinct()
              .OrderBy(el => el);
            if (documentTypes != null)
            {
              foreach (var documentType in documentTypes)
              {
                string svgClass;

                string href;

                string title;

                var redingNumber = (int)documentType % 10;

                var text = string.Empty;

                if (Model.DocumentType == DocumentType.DecreeProject)
                {
                  if (Model.ChildeDocuments.Any(el => el.DocumentType == DocumentType.Decree))
                  {
                    href = "#DecreeResult";
                  }
                  else
                  {
                    href = $"#Reading{redingNumber}";
                  }

                  svgClass = $"fa-tasks";


                  title = "Рассмотрение проекта постановления";
                }
                else
                {
                  href = $"#Reading{redingNumber}";

                  svgClass = string.Empty;

                  text = $"{redingNumber}";

                  var doc = Model.ChildeDocuments
                    .Where((el => el.DocumentType == documentType))
                    .OrderBy(el => el.Date)
                    .First();

                  title =  doc.Rubric?.Name ?? "Рассмотрение проекта";
                }

                <div class="d-inline-block m-0 p-0 horizont-line" style="width: 20px;">
                </div>

                <a onclick="ScrollModal('@href');">
                  <div class="d-inline-block m-0 p-0 rounded-circle text-center bg-silver align-items-center round-icon" title="@title">
                    <i class="fas @svgClass tm-item">@text</i>
                  </div>
                </a>
              }
            }
          }
        </div>

        <div class="text-center" style="height: 40px; margin-right: -10px;">
          <div style="height: 10px"></div>
          <div style="border-left: 2px solid black; border-right: 2px solid black; border-bottom: 2px solid black;height: 4px;"></div>
          <span style="color: slategrey; font-size: 0.6em; display: inline-block; white-space: nowrap; width: 0; margin-left: -15em;">ЗАКОНОДАТЕЛЬНОЕ СОБРАНИЕ</span>
        </div>
      </div>

      <div class="d-inline-block">
        <div class="text-center" style="height: 40px; width: 50px; margin-left: 10px;">
          <span style="color: slategrey; font-size: 0.6em; margin: auto; width: 0;  margin-left: -2em;">ОПУБЛИКОВАНИЕ</span>
          <div class="mb-2" style="border-left: 2px solid black; border-right: 2px solid black; border-top: 2px solid black; height: 4px;"></div>
        </div>
        <div class="d-flex align-items-center">
          <div class="d-inline-block m-0 p-0 horizont-line" style="width: 20px;">
          </div>
          <a onclick="ScrollModal('#Publish');">
            <div class="d-inline-block m-0 p-0 rounded-circle text-center bg-silver align-items-center round-icon" title="Опубликование">
              <i class="fas fa-newspaper tm-item"></i>
            </div>
          </a>
        </div>
        <div style="height: 40px"></div>
      </div>
    </div>
  </div>
</div>

<script>
  function ScrollModal(paragraph) {
    $('#documentModal').animate({
      scrollTop: $(paragraph).offset().top - $('#documentModal .modal-header').offset().top
    }, 1000, "linear");
  }
</script>
