@using docs.Database
@using docs.Extensions
@model docs.Database.Document

<div class="row">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 text-center">
    <div class="row" style="height: 100%;">
      <div class="col-8 pl-0 pr-0" style="font-size: 0.8rem;">

      </div>
      <div class="col-4 pl-0 pr-0">
        <div class="rounded-circle text-center bg-silver align-items-center round-icon">
          <i class="fas fa-th tm-item"></i>
        </div>
        <div class="vert-line"></div>
      </div>
    </div>

  </div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11">
    <div class="row rubric-row rubric-row-first">
      <div class="col-12 large-card-rubric-header">
        <span>Паспортные данные</span>
      </div>
    </div>


    @{
      bool isZsk;

      var subjectOfLaw = Model.SubjectOfLaw;

      if (string.IsNullOrWhiteSpace(subjectOfLaw))
      {
        subjectOfLaw = Model.Correspondent;

        isZsk = Model.CorrespondentIsZsk;
      }
      else
      {
        isZsk = Model.Correspondent == Model.SubjectOfLaw && Model.CorrespondentIsZsk;
      }

      if (string.IsNullOrWhiteSpace(subjectOfLaw) && Model.ParentDocument != null)
      {
        subjectOfLaw = Model.ParentDocument.SubjectOfLaw;

        if (string.IsNullOrWhiteSpace(subjectOfLaw))
        {
          subjectOfLaw = Model.ParentDocument.Correspondent;

          isZsk = Model.ParentDocument.CorrespondentIsZsk;
        }
        else
        {
          isZsk = Model.ParentDocument.Correspondent == Model.ParentDocument.SubjectOfLaw && Model.ParentDocument.CorrespondentIsZsk;
        }
      }

      if (!string.IsNullOrWhiteSpace(subjectOfLaw))
      {
        <div class="row rubric-row">
          <div class="col-4 large-card-rubric-item">
            @Html.DisplayNameFor(model => model.SubjectOfLaw)
          </div>
          <div class="col-8 large-card-rubric-item">
            @if (isZsk)
            {
              <span>Законодательное Собрание Краснодарского края</span>
              <br />
            }
            <span>@subjectOfLaw</span>
          </div>
        </div>
      }
    }


    <div class="row rubric-row">
      <div class="col-4 large-card-rubric-item">
        Наименование вида правового акта
      </div>
      <div class="col-8 large-card-rubric-item">
        @Model.FinalDocumentType.SmallName()
      </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.ProfileCommittee))
    {
      <div class="row rubric-row">
        <div class="col-4 large-card-rubric-item">
          @Html.DisplayNameFor(model => model.ProfileCommittee)
        </div>
        <div class="col-8 large-card-rubric-item">
          @Html.DisplayFor(model => model.ProfileCommittee)
        </div>
      </div>
    }
    @{
      var expDoc = Model.DocumentType == DocumentType.Decree && Model.ParentDocument != null
        ? Model.ParentDocument.DocumentType == DocumentType.DecreeProject ? Model.ParentDocument : null
        : Model;

      if (expDoc != null && expDoc.AnticorruptionExpertise)
      {
        <div class="row rubric-row">
          <div class="col-sm-4 large-card-rubric-item">
            @Html.DisplayNameFor(model => model.AnticorruptionExpertise)
          </div>
          <div class="col-sm-8 large-card-rubric-item">
            @Html.DisplayFor(model => expDoc.ExpertiseStart) - @Html.DisplayFor(model => expDoc.ExpertiseEnd)
          </div>
        </div>
      }
    }

    @await Html.PartialAsync("/Areas/Users/Views/Shared/DocumentStages.cshtml", @Model)

  </div>
</div>
