@using docs.Database
@using docs.Extensions
@model docs.Database.Document

<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">

  <div class="card m-1 border card">

    @if (User.IsInRole("admin") && (ViewData["NeedShowAdminPanels"] as bool?) == true)
    {
      <div class="p-1 text-md-right card-footer">
        <span><b>Опубликовать</b></span> @Html.EditorFor(model => model.DisplayOnTheSite,
new { htmlAttributes = new { @class = "display-selector", documentuuid=Model.Uuid} })
      </div>
    }
    <a class="card-anchor" asp-area="Users" asp-controller="LegislativeProcess" asp-action="Details" asp-route-id="@Model.Uuid" documentUuid="@Model.Uuid">
      <div class="p-3 card-header">

        <span class="doc-num">
          @Html.DisplayFor(model => model.FinalDocumentNumber) от @Model.FinalDate.ToString("dd.MM.yyyy")
        </span>

        <div class="card-text">@Model.FinalContent</div>
      </div>

      <div class="row align-items-center card-footer">
        <div class="col-4 col-sm-4 col-md-2">
          @{
            var file = Model.FinalFile ?? (Model.FinalDoc == null ? Model.MainFile : null);

            if (file != null && file.Send)
            {
              <div class=”card card-block”>
                <a target="_blank" class="btn btn-outline-dark" asp-area="Users" asp-controller="PdfViewer" asp-action="Index" asp-route-scheme="@ViewData["scheme"]" asp-route-docUuid="@file.DocumentUuid" asp-route-fileUuid="@file.Uuid" asp-route-fileName="CONTENT">
                  <i class="fas fa-file-pdf"></i>
                </a>
              </div>
            }
          }
        </div>
        <div class="col-8 col-sm-8 col-md-10">
          <div class="p-1 text-right">
            @Html.DisplayFor(model => model.FinalDate)
            <br />

            @{
                DateTime? start = null;
                DateTime? end = null;

                var expDoc = Model.DocumentType == DocumentType.Decree && Model.ParentDocument != null
                  ? Model.ParentDocument.DocumentType == DocumentType.DecreeProject ? Model.ParentDocument : null
                  : Model;

                if (expDoc != null && expDoc.AnticorruptionExpertise)
                {
                  start = expDoc.ExpertiseStart;
                  end = expDoc.ExpertiseEnd;

                  if (start.HasValue || end.HasValue)
                  {
                    <span>экспертиза c @(start?.ToString("dd.MM.yyyy") ?? "--.--.----") по @(end?.ToString("dd.MM.yyyy") ?? "--.--.----")</span>
                  }
                }

            }
            <br />
            @{
              var publishPrefix = Model.DocumentType == DocumentType.Decree || Model.DocumentType == DocumentType.DecreeProject
                ? "опубликовано"
                : "размещен";

              var place = Model.FinalPlaceOfPublication;

              place = string.IsNullOrWhiteSpace(place) ? " " : $" {place} ";

              var placeText = $"{publishPrefix}{place}{Model.FinalPublishDate?.ToString("dd.MM.yyyy")}";
            }
            <span>@placeText</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
