@using docs.Database
@using docs.Extensions
@model docs.Database.Document

<div class="col-sm-6">

  <div class="card m-1 border card">

    @if (User.IsInRole("admin") && (ViewData["NeedShowAdminPanels"] as bool?) == true)
    {
      <div class="p-1 text-md-right card-footer">
        <span><b>Опубликовать</b></span> @Html.EditorFor(model => model.DisplayOnTheSite,
new { htmlAttributes = new { @class = "display-selector", documentuuid=Model.Uuid} })
      </div>
    }
    <a class="card-anchor" asp-area="Users" asp-controller="LegislativeProcess" asp-action="Details" asp-route-id="@Model.Uuid" documentUuid="@Model.Uuid">
      <div class="p-3 card-header">

        <span class="doc-num">
          @Html.DisplayFor(model => model.FinalDocumentNumber) @Model.FinalDocumentType.Name()
        </span>

        <div class="card-text">@Model.FinalContent</div>
      </div>

      <div class="p-1 text-md-right card-footer">
        @{
          DateTime? start = null;
          DateTime? end = null;

          if (Model.DocumentType == DocumentType.DecreeProject || Model.DocumentType == DocumentType.LawProject)
          {
            start = Model.ExpertiseStart;
            end = Model.ExpertiseEnd;
          }
          else if (Model.DocumentType == DocumentType.Decree && Model.ParentDocument != null && Model.ParentDocument.DocumentType == DocumentType.DecreeProject)
          {
            start = Model.ParentDocument.ExpertiseStart;
            end = Model.ParentDocument.ExpertiseEnd;
          }

          if (start.HasValue || end.HasValue)
          {
            <span>экспертиза c @(start?.ToString("dd.MM.yyyy") ?? "--.--.----") по @(end?.ToString("dd.MM.yyyy") ?? "--.--.----")</span>
          }
        }
        @*@if ((Model.ParentDocument == null && Model.AnticorruptionExpertise) || (Model.ParentDocument != null && Model.ParentDocument.AnticorruptionExpertise))
        {
          var start = Model.ParentDocument?.ExpertiseStart ?? Model.ExpertiseStart;
          var end = Model.ParentDocument?.ExpertiseEnd ?? Model.ExpertiseEnd;

          <span>экспертиза c @(start?.ToString("dd.MM.yyyy") ?? "--.--.----") по @(end?.ToString("dd.MM.yyyy") ?? "--.--.----")</span>
        }*@
        <br/>
        @{
          var publishPrefix = Model.DocumentType == DocumentType.Decree || Model.DocumentType == DocumentType.DecreeProject
            ? "опубликовано"
            : "размещен";
        }
        <span>@publishPrefix @Html.DisplayFor(model => model.FinalPublishDate)</span>
      </div>
    </a>
    <div class="d-flex align-items-center justify-content-between p-2 card-footer">
      @Html.DisplayFor(model => model.FinalDate)
      <div class="btn-group btn-group-sm" role="group">
        @{
          var file = Model.FinalFile;

          if (file != null)
          {
            <a target="_blank" class="btn btn-outline-dark" download asp-area="Files" asp-controller="File" asp-action="Get" asp-route-docUuid="@Model.FinalDoc.Uuid" asp-route-fileUuid="@file.Uuid" asp-route-fileName="@file.FileName">
              <i class="fas fa-file-pdf"></i>
            </a>
          }
        }

      </div>
    </div>

  </div>
</div>
