@using System.Collections.Immutable
@using docs.Database
@using docs.Extensions
@using docs.Models
@using Microsoft.AspNetCore.Mvc.Rendering
@using Document = Microsoft.CodeAnalysis.Document
@model docs.Database.Document

@{
  ViewData["type"] = Model.DocumentType;
}

<div class="row">
  <div class="col-12 pl-3 pb-3 pr-3 pt-0 font-weight-bold font-size-1-25">
    @Html.DisplayFor(model => model.Content)
  </div>
</div>

@await Html.PartialAsync("/Areas/Users/Views/Shared/DocumentPassport.cshtml", Model)

@await Html.PartialAsync("/Areas/Users/Views/Shared/AddingProgect.cshtml", Model)

@await Html.PartialAsync("/Areas/Users/Views/Shared/ProjectWalkthrough.cshtml", Model)

@if (Model.SingleRangeDocuments != null)
{
  var reading = 0;

  foreach (var srDoc in Model.SingleRangeDocuments)
  {
    var currentLetterType = (DocumentType)((int)DocumentType.Letter1 + (reading >= 2 ? reading : reading++));

    var letters = new[] { new docs.Database.Document { DocumentType = currentLetterType } };

    var lettersWithDecree = new LettersWithDecree(letters, srDoc);

    @await Html.PartialAsync("/Areas/Users/Views/Shared/ProjectReview.cshtml", lettersWithDecree, ViewData)
  }
}

@{
  var lwd = new DecreeWithLaw(Model.SingleRangeDocuments?.LastOrDefault(), Model);

  if (lwd.Letter != null || lwd.HasMainFiles)
  {
    @await Html.PartialAsync("/Areas/Users/Views/Shared/ReviewResult.cshtml", lwd, ViewData)
  }
}


@await Html.PartialAsync("/Areas/Users/Views/Shared/Publication.cshtml", Model)

@await Html.PartialAsync("/Areas/Users/Views/Shared/Reference.cshtml", Model, ViewData)
