@using System.Collections.Immutable
@using docs.Database
@using docs.Extensions
@using docs.Models
@using Microsoft.AspNetCore.Mvc.Rendering
@using Document = Microsoft.CodeAnalysis.Document
@model docs.Database.Document

@{
  ViewData["type"] = Model.DocumentType;
}

<div class="row">
  <div class="col-12 pl-3 pb-3 pr-3 pt-0 font-weight-bold font-size-1-25">
    @Html.DisplayFor(model => model.FinalContent)
  </div>
</div>

@await Html.PartialAsync("/Areas/Users/Views/Shared/DocumentPassport.cshtml", Model)

@await Html.PartialAsync("/Areas/Users/Views/Shared/AddingProgect.cshtml", Model)

@await Html.PartialAsync("/Areas/Users/Views/Shared/ProjectWalkthrough.cshtml", Model)

@{
  ViewData["type"] = Model.DocumentType;

  var letters = Model.ParentDocument?.DocumentType == DocumentType.DecreeProject ? Model.ParentDocument?.ChildeDocuments
    .ByDocumentType(DocumentType.Letter1, DocumentType.Letter2, DocumentType.Letter3)
    .ToArray()
    : null;

  var lwd1 = new LettersWithDecree(letters, Model);

  lwd1.Conclusion = Model.ParentDocument?.Conclusion;

  @await Html.PartialAsync("/Areas/Users/Views/Shared/DecreeResult.cshtml", lwd1)

  docs.Database.Document law;

  if (Model.ParentDocument == null)
  {
    if (Model.SingleRangeDocuments == null)
    {
      law = null;
    }
    else
    {
      law = Model.SingleRangeDocuments
        .Any(el => el.DocumentType == DocumentType.Decree && el.Date > Model.Date)
        ? null
        : Model.SingleRangeDocuments.FirstOrDefault(el => el.DocumentType == DocumentType.Law);
    }
  }
  else
  {
    law = Model.ParentDocument?.ChildeDocuments?.FirstOrDefault(el => el.DocumentType == DocumentType.Law);
  }

  var lwd = new DecreeWithLaw(Model, law);

  if (lwd.Decree != null || lwd.HasMainFiles)
  {
    @await Html.PartialAsync("/Areas/Users/Views/Shared/ReviewResult.cshtml", lwd, ViewData)
  }

}

@await Html.PartialAsync("/Areas/Users/Views/Shared/Publication.cshtml", Model)

@await Html.PartialAsync("/Areas/Users/Views/Shared/Reference.cshtml", Model, ViewData)
