@using System.Collections.Immutable
@using docs.Database
@using docs.Extensions
@using docs.Models
@using Microsoft.AspNetCore.Mvc.Rendering
@using Document = Microsoft.CodeAnalysis.Document
@model docs.Database.Document

@{
  ViewData["type"] = Model.DocumentType;
}

<div class="row">
  <div class="col-12 pl-3 pb-3 pr-3 pt-0 font-weight-bold font-size-1-25">
    @Html.DisplayFor(model => model.FinalContent)
  </div>
</div>

@await Html.PartialAsync("/Areas/Users/Views/Shared/DocumentPassport.cshtml", Model)

@await Html.PartialAsync("/Areas/Users/Views/Shared/AddingProgect.cshtml", Model)

@await Html.PartialAsync("/Areas/Users/Views/Shared/ProjectWalkthrough.cshtml", Model)

@{
    var childrenDocs = Model.ChildeDocuments
      .SortByDocType()
      .ToArray();

    var iteration = 0;

    for (var i = 0; i < childrenDocs.Length; i++)
    {
      var currentLetterType = (DocumentType)((int)DocumentType.Letter1 + iteration);

      if (currentLetterType < DocumentType.Letter3)
      {
        iteration++;
      }

      var currentDocument = childrenDocs[i];

      if (currentDocument.DocumentType == DocumentType.Decree && Model.DocumentType == DocumentType.LawProject)
      {
        if (currentDocument.StageId.HasValue && currentDocument.Stage.Number.HasValue)
        {
          iteration = currentDocument.Stage.Number.Value - 1;

          currentLetterType = (DocumentType)((int)DocumentType.Letter1 + iteration);
        }

        var letters = new docs.Database.Document[]
        {
        new docs.Database.Document
        {
          DocumentType = currentLetterType
        }
        };

        var lettersWithDecree = new LettersWithDecree(letters, currentDocument);

        lettersWithDecree.Conclusion = Model.Conclusion;

        @await Html.PartialAsync("/Areas/Users/Views/Shared/ProjectReview.cshtml", lettersWithDecree, ViewData)
      }

      else if (currentDocument.IsLetter())
      {
        var letters = childrenDocs
          .Where(el => el.DocumentType == currentDocument.DocumentType)
          .OrderBy(el => el.Date)
          .ToArray();

        i = i + letters.Length - 1;

        var nextDocument = childrenDocs.Length >= i + 2 ? childrenDocs[i + 1] : null;

        var lettersWithDecree = new LettersWithDecree(letters, nextDocument != null && nextDocument.DocumentType == DocumentType.Decree ? nextDocument : null);

        lettersWithDecree.Conclusion = Model.Conclusion;

        if (Model.DocumentType == DocumentType.DecreeProject && lettersWithDecree.Decree != null)
        {
        @await Html.PartialAsync("/Areas/Users/Views/Shared/DecreeResult.cshtml", lettersWithDecree)
      }
      else
      {
        @await Html.PartialAsync("/Areas/Users/Views/Shared/ProjectReview.cshtml", lettersWithDecree, ViewData)
      }
      if (lettersWithDecree.Decree != null)
      {
        i++;

        currentDocument = childrenDocs[i];
      }
    }

    if (i == childrenDocs.Length - 1
        && ((Model.DocumentType == DocumentType.LawProject && currentDocument.DocumentType == DocumentType.Law)
            || (Model.DocumentType == DocumentType.DecreeProject && currentDocument.DocumentType == DocumentType.Decree)))

    {
      var lwd = currentDocument.DocumentType == DocumentType.Decree
        ? new DecreeWithLaw(currentDocument, null)
        : new DecreeWithLaw(i <= 0 ? null : childrenDocs[i - 1].DocumentType == DocumentType.Decree ? childrenDocs[i - 1] : null, currentDocument);

      if (lwd.Letter != null || lwd.HasMainFiles)
      {
        ViewData["type"] = Model.DocumentType;

        @await Html.PartialAsync("/Areas/Users/Views/Shared/ReviewResult.cshtml", lwd, ViewData)
      }
    }
  }
}

@await Html.PartialAsync("/Areas/Users/Views/Shared/Publication.cshtml", Model)

@await Html.PartialAsync("/Areas/Users/Views/Shared/Reference.cshtml", Model, ViewData)
