@using docs.Database
@using docs.Extensions
@model docs.Database.Document

<div id="Walkthrough" class="row">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 text-center">
    <div class="row" style="height: 100%;">
      <div class="col-8 pl-0 pr-0" style="font-size: 0.8rem;">
        @if (Model.DocumentType == DocumentType.Decree || Model.DocumentType == DocumentType.Law)
        {
          if (Model.ParentDocument?.DocumentType == DocumentType.DecreeProject)
          {
            @Model.ParentDocument?.Date.ToString("dd.MM.yyyy")
          }
        }
        else
        {
          @Model.Date.ToString("dd.MM.yyyy")
        }
      </div>
      <div class="col-4 pl-0 pr-0">
        <div class="rounded-circle text-center bg-silver align-items-center round-icon">
          <i class="fas fa-angle-right tm-item"></i>
        </div>
        <div class="vert-line"></div>
      </div>
    </div>

  </div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11">
    <div class="row rubric-row">
      <div class="col-12 large-card-rubric-header">
        <span>Прохождение проекта у председателя Законодательного Собрания Краснодарского края</span>
      </div>
    </div>
    @{
        string profileCommittee;
        DateTime? date;

        if (Model.DocumentType == DocumentType.Decree || Model.DocumentType == DocumentType.Law)
        {
          if (Model.ParentDocument?.DocumentType == DocumentType.DecreeProject)
          {
            profileCommittee = Model.ParentDocument?.ProfileCommittee;
            date = Model.ParentDocument?.Date;
          }
          else
          {
            profileCommittee = null;
            date = null;
          }
        }
        else
        {
          profileCommittee = Model.ProfileCommittee;
          date = Model.Date;
        }

        if (!string.IsNullOrWhiteSpace(profileCommittee))
        {
        <div class="row rubric-row">
          <div class="col-sm-8 large-card-rubric-item">
            <span>направлен в профильный комитет</span>
            <br />
            @profileCommittee
          </div>
          <div class="col-sm-4 text-right large-card-rubric-item">
            @date.Value.ToString("dd.MM.yyyy")
          </div>
        </div>
      }
    }
  </div>
</div>
