@using docs.Database
@using docs.Extensions
@model docs.Models.LettersWithDecree

@{
  var readingNumber = (int)Model.Letters.First().DocumentType % 10;

  var id = "Reading" + readingNumber;
}

<div id=@id class="row">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 text-center">
    <div class="row" style="height: 100%;">
      <div class="col-8 pl-0 pr-0" style="font-size: 0.8rem;">
        @((Model.Decree?.Date ?? Model.Letters.Min(el => el.Date)).ToString("dd.MM.yyyy"))
      </div>
      <div class="col-4 pl-0 pr-0">
        <div class="rounded-circle text-center bg-silver align-items-center round-icon">
          <i class="fas fa-angle-right tm-item"></i>
        </div>
        <div class="vert-line"></div>
      </div>
    </div>
  </div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11">
    <div class="row rubric-row">
      <div class="col-sm-12 align-self-center large-card-rubric-header">
        @if ((DocumentType)ViewData["type"] == DocumentType.DecreeProject)
        {
          <span>Рассмотрение проекта постановления</span>
        }
        else
        {
          @(Model.Letters.First().DocumentType.Name())
        }
      </div>
    </div>
    <div class="row rubric-row">
      <div class="col-sm-8 large-card-rubric-item">
        <ul>
          @if (Model.Letters != null)
          {
            foreach (var letter in Model.Letters)
            {
              if (letter.Files != null)
              {
                foreach (var file in letter.Files.OnlyIsSend().OrderBy(el => el.OrderNum))
                {
                  <li>
                    <a target="_blank" class="permalink" asp-area="Users" asp-controller="PdfViewer" asp-action="Index" asp-route-docUuid="@file.DocumentUuid" asp-route-fileUuid="@file.Uuid" asp-route-fileName="@file.Description" asp-route-scheme="@ViewData["scheme"]">@file.Name (№@letter.Number от @letter.Date.ToString("dd.MM.yyyy"))</a>
                  </li>
                }
              }
            }
          }

          @{
            var conclusionList = Model.Conclusion;

            if (conclusionList != null)
            {
              foreach (var conclusion in conclusionList)
              {
                if (conclusion.Files != null)
                {
                  foreach (var file in conclusion.Files.OnlyIsSend().OrderBy(el => el.OrderNum))
                  {
                    <li>
                      <a target="_blank" class="permalink" asp-area="Users" asp-controller="PdfViewer" asp-action="Index" asp-route-scheme="@ViewData["scheme"]" asp-route-docUuid="@file.DocumentUuid" asp-route-fileUuid="@file.Uuid" asp-route-fileName="@file.Description">@file.Name (№@conclusion.Number от @conclusion.Date.ToString("dd.MM.yyyy"))</a>
                    </li>
                  }
                }
              }
            }
          }


          @if (Model.Decree != null && Model.Decree.Files != null && Model.Decree.Files.Any())
          {
            var file = Model.Decree.MainFile;
            if (file != null && file.Send)
            {
              var title = $"Постановление (№{Model.Decree.Number} от {Model.Decree.Date.ToString("dd.MM.yyyy")})";
              <li>
                <a target="_blank" class="permalink font-weight-bold" asp-area="Users" asp-controller="PdfViewer" asp-action="Index" asp-route-scheme="@ViewData["scheme"]" asp-route-docUuid="@file.DocumentUuid" asp-route-fileUuid="@file.Uuid" asp-route-fileName="@title">@title</a>
              </li>
            }
          }
        </ul>
      </div>
      <div class="col-sm-4 text-right large-card-rubric-item">
        @{
          var session = Model.Decree?.Session ?? Model.Letters?.FirstOrDefault()?.Session;

          if (session != null)
          {
            <span>сессия: @session.NumberInt @session.SessionType</span>
          }
        }
      </div>
    </div>
  </div>
</div>
