@model docs.Database.Document

<div id="Publish" class="row">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 text-center">
    <div class="row" style="height: 100%;">
      <div class="col-8 pl-0 pr-0" style="font-size: 0.8rem;">
        @(Model.FinalPublishDate?.ToString("dd.MM.yyyy") ?? string.Empty)
      </div>
      <div class="col-4 pl-0 pr-0">
        <div class="rounded-circle text-center bg-silver align-items-center round-icon">
          <i class="fas fa-angle-right tm-item"></i>
        </div>
        <div class="vert-line"></div>
      </div>
    </div>
  </div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11">
    <div class="row rubric-row">
      <div class="col-12 large-card-rubric-header">
        <span>Опубликование</span>
      </div>
    </div>
    <div class="row rubric-row">
      <div class="col-12 large-card-rubric-item">
        <span>Официальный сайт Законодательного Собрания</span>
        @{
          var place = Model.FinalPlaceOfPublication;

          if (!string.IsNullOrWhiteSpace(place))
          {
            <br /><span>@place</span>
          }
        }
      </div>
    </div>
  </div>
</div>
