@using docs.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Options

@model docs.Database.Document

<div class="row">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 text-center">
    <div class="row">
      <div class="col-8 pl-0 pr-0" style="font-size: 0.8rem;">
      </div>
      <div class="col-4 pl-0 pr-0">
        <div class="rounded-circle text-center bg-silver align-items-center round-icon">
          <i class="fas fa-globe tm-item"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11">
    <div class="row rubric-row">
      <div class="col-12 large-card-rubric-item">
        @{
          var reference = Url.Action("Index", "LegislativeProcess", new { area = "Users", id = Model.Uuid }, ViewData["scheme"].ToString());

          var mainRef = $"{ViewData["scheme"]}://{ViewData["baseSiteName"]}/pravo?href={reference}";
        }
        <span>Постоянная ссылка : </span>
        <a target="_blank" class="btn btn-sm btn-filter btn-filter-active" href="@mainRef"><i class="fas fa-folder-open"> Открыть</i></a>
        <button id="copyReferenceBtn" class="btn btn-sm btn-filter btn-filter-active" href="@mainRef"><i class="fas fa-copy"> Скопировать</i></button>
      </div>
    </div>
  </div>
</div>
<script>
  function TextToClipboard(text) {
    if (false || !!document.documentMode) { 
      window.clipboardData.setData('Text', text); //for IE
    }
    else{
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val(text).select();
      $temp.focus();
      document.execCommand("copy");
      $temp.remove();
    }
  }
  $('#copyReferenceBtn').on({
    "click": function () {
      let link = $(this).attr("href");
      TextToClipboard(link);
    }
  });
</script>
