@using docs.Database
@model docs.Models.DecreeWithLaw

<div class="row">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 text-center">
    <div class="row" style="height: 100%;">
      <div class="col-8 pl-0 pr-0" style="font-size: 0.8rem;">
      </div>
      <div class="col-4 pl-0 pr-0">
        <div class="rounded-circle text-center bg-silver align-items-center round-icon">
          <i class="fas fa-file-pdf tm-item"></i>
        </div>
        <div class="vert-line"></div>
      </div>
    </div>
  </div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-11">
    <div class="row rubric-row">
      <div class="col-sm-12 large-card-rubric-item_header">
        @{
          var first = (DocumentType)ViewData["type"] == DocumentType.Decree ? Model.Letter : Model.Decree;
          var second = (DocumentType)ViewData["type"] == DocumentType.Decree ? Model.Decree : Model.Letter;

          var file = first?.MainFile;
          if (file != null && file.Send)
          {
            var title = $"{(first.DocumentType == DocumentType.Law ? "Текст принятого закона" : "Текст принятого постановления")} № {first.Number} от {first.Date.ToString("dd.MM.yyyy")}";
            <div>
              <a target="_blank" class="permalink" asp-area="Users" asp-controller="PdfViewer" asp-action="Index" asp-route-scheme="@ViewData["scheme"]" asp-route-docUuid="@file.DocumentUuid" asp-route-fileUuid="@file.Uuid" asp-route-fileName="@title">@title</a>
            </div>
          }

          file = second?.MainFile;

          if (file != null && file.Send)
          {
            var titleDocName = second.DocumentType == DocumentType.Law ? "Текст закона" : "Текст постановления";

            var title = $"{titleDocName} № {second.Number} от {second.Date.ToString("dd.MM.yyyy")}";
            <div>
              <a target="_blank" class="permalink" asp-area="Users" asp-controller="PdfViewer" asp-action="Index" asp-route-scheme="@ViewData["scheme"]" asp-route-docUuid="@file.DocumentUuid" asp-route-fileUuid="@file.Uuid" asp-route-fileName="@title">@title</a>
            </div>
          }
        }


        @if (Model.Decree != null && Model.Decree.DocumentType == DocumentType.Law)
        {
          <div>
            @if ((DocumentType)ViewData["type"] == DocumentType.Decree)
            {
              var title = $"Карточка закона № {Model.Decree.Number} от {Model.Decree.Date.ToString("dd.MM.yyyy")}";

              <a class="permalink" href="#" onclick="CardShowModal('@(Model.Letter.ParentUuid??Model.Decree?.Uuid)');return false;">@title</a>
            }
            else
            {
              if (Model.Letter != null)
              {
                var title = $"Карточка постановления № {Model.Letter.Number} от {Model.Letter.Date.ToString("dd.MM.yyyy")}";

                <a class="permalink" href="#" onclick="CardShowModal('@Model.Letter.Uuid');return false;">@title</a>
              }
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>
