<div *ngIf="indexingSummary" id="indexing_content">
  <hr />
  <div class="row">
    <div class="col-sm-9">
      <h3 id="indexInitedState">Система индексации <span
                                                     [class.text-success]="indexingSummary.indexingInited"
                                                     [class.text-warning]="!indexingSummary.indexingInited">
        {{indexingSummary.indexingInited ? "ИНИЦИАЛИЗИРОВАНА" : "НЕ ИНИЦИАЛИЗИРОВАНА"}}
      </span></h3>
    </div>
    <div class="col-sm">
      <button id="reinit_indexing" type="button" class="btn btn-danger"
              (click)="reinitIndexing()"
              [disabled]="(processing ? 'disabled':null)">Переинициализировать</button>
    </div>
  </div>
  <hr />
  <dl class="row align-items-end">
    <dt class="col-sm-8">
      <h2>Количество документов</h2>
    </dt>
    <dd class="col-sm-4">
      <h2 id="count_documents">{{indexingSummary.countDocuments}}</h2>
    </dd>
    <dt class="col-sm-8">
      <h2>Количество неиндексированных документов</h2>
    </dt>
    <dd class="col-sm-4">
      <h2 id="count_notindexing_documents">{{indexingSummary.notIndexing}}</h2>
    </dd>
    <dt class="col-sm-8">
      <h2>Количество файлов</h2>
    </dt>
    <dd class="col-sm-4">
      <h2 id="count_files">{{indexingSummary.countFiles}}</h2>
    </dd>
    <dt class="col-sm-8">
      <h2>Количество неиндексированных файлов</h2>
    </dt>
    <dd class="col-sm-4">
      <h2 id="count_notindexing_files">{{indexingSummary.notIndexingFiles}}</h2>
    </dd>
  </dl>
  <div class="row">
    <div class="col-sm-3">
      <button id="reindex_all" type="button" class="btn btn-danger" [disabled]="(processing ? 'disabled':null)" (click)="reindexAll();">Переиндексировать</button>
    </div>
    <div class="col-sm-9">
      <input class="form-check-input" type="checkbox" id="onlyNotIndexing" [(ngModel)]="onlyNotIndexing" />
      <label class="form-check-label" for="onlyNotIndexing">Только неиндексированные</label>
    </div>
  </div>
  <div *ngIf="indexingSummary.processReindexingPercent != null" id="indexing_progress">
    <h3>Переиндексирование документов</h3>
    <div class="progress m-sm-3">
      <div id="indexing_progress_bar" class="progress-bar  progress-bar-striped  progress-bar-animated" [style.width.%]="indexingSummary.processReindexingPercent">{{indexingSummary.processReindexingPercent}}%</div>
    </div>
  </div>
</div>
