@using docs.Extensions
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <script type="text/javascript">
    document.write("<base href='" + '@Url.AbsoluteContent("~/")'.replace(/^http:/i, window.location.protocol) + "' />");
  </script>
  <title>Законодательное Cобрание Краснодарского края | @ViewData["Title"]</title>

  <environment include="Development">
    <link href="~/lib/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker-standalone.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link href="~/css/site.css" rel="stylesheet" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link href="~/lib/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>
  @RenderSection("Styles", required: false)
</head>
<body>
  <script>
    var baseUrl = '@Url.AbsoluteContent("~/")'.replace(/^http:/i, window.location.protocol);
  </script>
  <environment include="Development">
    <script asp-src-include="~/lib/jquery/jquery.js" type="text/javascript"></script>
    <script asp-src-include="~/lib/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
  </environment>
  <environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
  </environment>

  <nav class="navbar fixed-top navbar-expand-md navbar-dark main-tile-small">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0">
      @{
        var href = $"{Context.Request.Scheme}://{GlobalProperties.MainSiteBaseUrl}";
      }

      <a href="@href" class="navbar-brand ml-lg-5">
        <svg class="icon main-logo__icon main-logo__main-logo-symbol">
          <use xlink:href="#main-logo__main-logo-symbol">
            <svg viewBox="0 0 89 37" id="main-logo__main-logo-symbol" xmlns="http://www.w3.org/2000/svg"><path d="M0 36h89v1H0zM0 10h9v1H0z"></path><path d="M0 10h9v1H0zM28 10h33v1H28zM35 32h19v1H35zM33 33h23v1H33zM35 31h19v1H35zM31 34h27v1H31zM30 35h29v1H30zM29 15v1H12v-1h17m1-1H11v3h19v-3zM28 6h33v1H28zM80 10h9v1h-9z"></path><path d="M8 11v25H2V11h6m1-1H1v27h8V10zM87 11v25h-6V11h6m1-1h-8v27h8V10z"></path><path d="M8 33v3H2v-3h6m1-1H1v5h8v-5zM87 33v3h-6v-3h6m1-1h-8v5h8v-5zM87 15v1h-6v-1h6m1-1h-8v3h8v-3zM8 15v1H2v-1h6m1-1H1v3h8v-3zM59 7v3H30V7h29m1-1H29v5h31V6z"></path><path d="M59 11v1H30v-1h29m1-1H29v3h31v-3zM77 15v1H60v-1h17m1-1H59v3h19v-3zM77 33v3H60v-3h17m1-1H59v5h19v-5z"></path><path d="M77 13v23H60V13h17m1-1H59v25h19V12zM29 13v23H12V13h17m1-1H11v25h19V12z"></path><path d="M29 33v3H12v-3h17m1-1H11v5h19v-5z"></path><path d="M59 31v5H30v-5h29m1-1H29v7h31v-7zM32 8h-1v1h1V8zM34 8h-1v1h1V8zM36 8h-1v1h1V8zM54 8h-1v1h1V8zM56 8h-1v1h1V8zM58 8h-1v1h1V8zM77 13v-1l4-2v1l-4 2zM77 14h4v1h-4zM38 24h-3v-4h3zm-2-1h1v-2h-1z"></path><path d="M38 31h-3v-6h3zm-2-1h1v-4h-1zM38 19h-3v-4h3zm-2-1h1v-2h-1zM34 31h-3V14h3zm-2-1h1V15h-1zM46 24h-3v-4h3zm-2-1h1v-2h-1zM46 31h-3v-6h3zm-2-1h1v-4h-1zM46 19h-3v-4h3zm-2-1h1v-2h-1zM42 31h-3V14h3zm-2-1h1V15h-1zM54 24h-3v-4h3zm-2-1h1v-2h-1zM54 31h-3v-6h3zm-2-1h1v-4h-1zM54 19h-3v-4h3zm-2-1h1v-2h-1zM50 31h-3V14h3zm-2-1h1V15h-1zM18 27h-3v-4h3zm-2-1h1v-2h-1zM18 31h-3v-3h3zm-2-1h1v-1h-1zM18 22h-3v-4h3zm-2-1h1v-2h-1zM14 33h-3V17h3zm-2-1h1V18h-1zM26 27h-3v-4h3zm-2-1h1v-2h-1zM26 31h-3v-3h3zm-2-1h1v-1h-1zM26 22h-3v-4h3zm-2-1h1v-2h-1zM22 33h-3V17h3zm-2-1h1V18h-1zM30 33h-3V17h3zm-2-1h1V18h-1zM58 31h-3V14h3zm-2-1h1V15h-1zM4 12H3v1h1v-1zM7 12H6v1h1v-1zM83 12h-1v1h1v-1zM86 12h-1v1h1v-1zM66 27h-3v-4h3zm-2-1h1v-2h-1zM66 31h-3v-3h3zm-2-1h1v-1h-1zM66 22h-3v-4h3zm-2-1h1v-2h-1zM62 33h-3V17h3zm-2-1h1V18h-1z"></path><path d="M62.5 18H59v-1l.5-.01H63v1l-.5.01zM70.5 18H66v-1h5v.99l-.5.01zM74 27h-3v-4h3zm-2-1h1v-2h-1zM74 31h-3v-3h3zm-2-1h1v-1h-1zM74 22h-3v-4h3zm-2-1h1v-2h-1z"></path><path d="M70 33h-3V17h3zm-2-1h1V18h-1zM78 33h-3V17h3zm-2-1h1V18h-1zM86 33h-4V16h4zm-3-1h2V17h-2zM14.5 18H11v-1l.5-.01H15v1l-.5.01zM22.5 18H18v-1h5v.99l-.5.01zM29.5 18H26v-1h4v.99l-.5.01zM58.5 14H53v-1h6v.99l-.5.01zM51.42 14H45v-1h7v.99l-.58.01zM43.42 14H37v-1h7v.99l-.58.01zM42.58 15H38v-1h5v.99l-.42.01zM50.58 15H46v-1h5v.99l-.42.01zM58.58 15H54v-1h5v.99l-.42.01zM35.42 14H29v-1h7v.99l-.58.01zM34.5 15H29v-1h6v.99l-.5.01zM57.5 34.01H54V33h4v1l-.5.01zM3.5 18H2v-1h2v.99l-.5.01zM7.5 18H6v-1h2v.99l-.5.01z"></path><path d="M7 33H3V16h4zm-3-1h2V17H4zM41 7h-1V0h1z"></path><path d="M45 .55a2.81 2.81 0 0 1-1.17.26c-1 0-1.07-.53-2.29-.53A3.87 3.87 0 0 0 40 .6v2.2a4.24 4.24 0 0 1 1.54-.31c1.15 0 1.31.5 2.34.5A2.57 2.57 0 0 0 45 2.75zM49 7h-1V0h1z"></path><path d="M53 .3a2.6 2.6 0 0 1-1.17.29c-1 0-1.07-.58-2.29-.58A3.56 3.56 0 0 0 48 .34v2.44a3.9 3.9 0 0 1 1.54-.34c1.15 0 1.31.56 2.34.56A2.38 2.38 0 0 0 53 2.73zM43 5h3v4h-3zM44 9h1v1h-1zM44 4h1v1h-1zM77 16h4v1h-4zM85 17h3v1h-3zM80 17h3v1h-3zM77 32h4v1h-4zM8 32h4v1H8zM8 16h4v1H8zM8 14h4v1H8zM12 13v-1l-4-2v1l4 2z"></path></svg>
          </use>
        </svg>
        <h1 class="main-logo__title-wrapper main-logo__title-wrapper-small">
          <span class="main-logo__title-small">Законодательное Собрание</span>
          <span class="main-logo__subtitle-small">Краснодарского края</span>
        </h1>
      </a>
    </div>
  </nav>

  <div class="container body-content-small">
    @RenderBody()
  </div>




  @RenderSection("Scripts", required: false)
</body>
</html>
