@{
  Layout = "~/Views/Shared/_LayoutSmall.cshtml";
}

<div class="pdf-file-title">
  <span class="pdf-file-name">@ViewBag.FileTitle</span>
  @if (ViewBag.SubTitle != null)
  {
  <span class="pdf-file-subtitle">@ViewBag.SubTitle</span>
  }
</div>

<iframe id="preview" class="pdf-viewer" frameborder="0" src="@ViewBag.FileUrl"></iframe>

