<div class="modal" id="sessionDocumentsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header large-card-header">
        <div>
          <h3 class="modal-title"></h3>
          <span class="small-text"></span>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br/>
        <a id="sessionSummaryDownload" class="btn btn-outline-light" download style="position: absolute; right: 20px; top: 45px;">
          <i class="fas fa-file-excel"></i>
          Экспорт
        </a>
      </div>
      <div class="modal-body ml-2 mr-2" style="min-height: 300px;">
      </div>
    </div>
  </div>
</div>
