@model docs.Models.SessionCardModel
<div class="session-card-body">
  <div class="session-date">
    @Model.Session.Date?.ToString("dd.MM.yyyy")
  </div>
  <div class="session-name">
    @Model.SessionName
    <br />
    пленарное заседание
  </div>
  <div class="session-items">
    @if (Model.HasAgenda)
    {
      <div class="row session-item" content-type="agenda" content-id="@Model.Session.Id">
        <div class="col-10">
          Повестка
        </div>
        <div class="col-2"><i class="fas fa-chevron-right"></i></div>
      </div>
    }
    @if (Model.HasDocuments)
    {
      <div class="row session-item"
           content-type="documents"
           content-id="@Model.Session.Id"
           session-number="@Model.Session.NumberInt"
           session-type="@Model.Session.SessionType"
           convocation-number="@Model.Session.Convocation.Number">
        <div class="col-10">
          Принятые документы
        </div>
        <div class="col-2"><i class="fas fa-chevron-right"></i></div>
      </div>
    }
    @if (Model.HasAnnotation)
    {
      <div class="row session-item" content-type="annotation" content-id="@Model.Session.Id">
        <div class="col-10">
          Аннотация к сессии
        </div>
        <div class="col-2"><i class="fas fa-chevron-right"></i></div>
      </div>
    }
  </div>
</div>
