@model IEnumerable<docs.Models.SessionCardModel>
<div class="row">
  @foreach (var session in Model)
  {
  <div class="col-12 col-md-6 col-lg-4">
    @await Html.PartialAsync("/Areas/Users/Views/PlenaryMeetings/Partial/SessionCard.cshtml", session)
  </div>
  }
</div>
