@model IEnumerable<docs.Database.Convocation>

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
  div#menu_content {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 55px);
    padding-right: 20px;
  }
</style>
<div class="row">
  <div class="col-2 bg-dark text-white pt-1 overflow-hidden" style="min-height: calc(100vh - 122px); max-height: calc(100vh - 122px); display: flex; flex-flow: column; height: 100%;">
    <div>
      <h3>Созыв</h3>
      <select id="convocations" class="form-control" asp-items="ViewBag.Convocations"></select>
      <hr style="color: #fff; background-color: #fff;" />
      <h3>Cесии</h3>
      <hr style="color: #fff; background-color: #fff;" />
    </div>
    <div class="overflow-auto nano" style="flex: 1 1 auto;">
      <div id="session-navbar" class="nav navbar-dark flex-column nav-pills bg-dark mt-1" id="session_menu" role="tablist" aria-orientation="vertical">
      </div>
    </div>
  </div>
  <div class="col-10">
    <h1 id="session_header"></h1>

    <div id="documents_spinner" class="d-flex justify-content-center">
      <div class="spinner-border text-primary d-none m-5" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div id="menu_content" class="overflow-auto"></div>
  </div>
</div>

@await Html.PartialAsync("~/Areas/Users/Views/Shared/DocumentLargeCardModal.cshtml")

@section Scripts
  {
  <environment include="Development">
    <script src="~/scripts/admin_documents.js"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/scripts/admin_documents.min.js"></script>
  </environment>
}
