<div>
  <app-nav-menu></app-nav-menu>
  <div class="d-flex wrapper" id="wrapper">
    <!--<div id="page-content-wrapper">
      <div class="container-fluid" id="content-wrapper">-->
        <router-outlet></router-outlet>
      <!--</div>
    </div>-->
  </div>
</div>
