.wrapper {
  height: calc(100vh - 56px);
  height: -moz-calc(100vh - 56px);
  height: -webkit-calc(100vh - 56px);
  min-height: 600px;
  min-width: 800px;
  max-height: calc(100vh - 56px);
  max-height: -moz-calc(100vh - 56px);
  max-height: -webkit-calc(100vh - 56px);
}
