<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]='["/"]'>Администрирование</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="show" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]='["/documents"]'>
          Документы
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]='["/indexing"]'>
          Индексация
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="loggedIn()">
        <a class="nav-link" [routerLink]='["/users"]'>
          Пользователи
        </a>
      </li>
    </ul>
    <div class=" d-inline my-2 my-lg-0">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="loggedIn()">
          <div *ngIf="loggedIn()" class="nav-link text-dark">{{getLoggedInUser()?.fullName}}</div>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!loggedIn()">
          <a class="nav-link" (click)="login()">Вход</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="loggedIn()">
          <!--<a class="nav-link" [routerLink]='["/logout", {url: router.url}]' [routerLinkActive]='["active"]'>Выход</a>-->
          <a class="nav-link" (click)="logout()">Выход</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
