<div class="bg-light border-right" id="sidebar-wrapper" [class.toggled]="toggled">
  <div class="sidebar-heading">Администрирование</div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light" [routerLink]='["/documents"]' [routerLinkActive]='["active"]' *ngIf="auth.isAuthorized('admin')"><i-feather name="user-check"></i-feather>Документы</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]='["/users"]' [routerLinkActive]='["active"]' *ngIf="auth.isAuthorized('admin')"><i-feather name="users"></i-feather>Пользователи</a>
  </div>
</div>
