<div *ngIf="null === roles">Загрузка...</div>
<table class="table">
  <tr><th>Название</th><th>Описание</th><th>
<!--    <a class="btn btn-sm btn-success text-light control-btn" (click)="editRole('')">Добавить</a>-->
  </th></tr>
  <tr *ngFor="let role of roles">
    <td>{{role.roleName}}</td>
    <td>{{role.description}}</td>
    <td>
      <a class="btn btn-sm btn-primary text-light control-btn" (click)="editRole(role.id)">Изменить</a>
      <a class="btn btn-sm btn-danger text-light control-btn" (click)="deleteRole(role.id)">Удалить</a>
    </td>
  </tr>
</table>
