@{
  ViewData["Title"] = "Пленарные заседания";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section Subtitle1
    {
    <div class="header-subtitle-1">
      <span>Законодательное Cобрание Краснодарского края <span class="color-silver">| Пленарные заседания</span></span>
    </div>
  }*@

@section Subtitle2
  {
  <div class="header-subtitle-2 pl-3">
    <div class="container">
      @if (ViewBag.ConvocationNumber == null)
      {
        <h1 class="title">Нет информации о пленарных заседаниях</h1>
      }
      else
      {
        <div class="row ml-0 mr-0">
          <div class="col-6 col-lg-4 col-xl-4">
            <select id="convocations" class="form-control" asp-items="ViewBag.Convocations"></select>
          </div>
        </div>
      }
    </div>
  </div>
}


@if (ViewBag.ConvocationNumber != null)
{
  <div id="convocation_placeholder" style="display: none;">
    <h1 class="mb-5 mt-5 title">@ViewData["Title"] <span id="convocationNumber"></span>а</h1>

    <div id="sessions_placeholder"></div>
  </div>
}
@await Html.PartialAsync("~/Areas/Users/Views/PlenaryMeetings/Partial/SessionDocumentsModal.cshtml")

@await Html.PartialAsync("~/Areas/Users/Views/Shared/DocumentLargeCardModal.cshtml")


@section Scripts
  {
  <script>
    var defaultBodyHeight;

    $(document).ready(function () {
      var sessionId = $('#convocations').val();
      $('#convocations').prop("disabled", true);
      getSessionContent(sessionId);

      $('#convocations').change(function () {

        $('#convocations').prop("disabled", true);

        var sessionId = $('#convocations').val();

        getSessionContent(sessionId);
      });

      $('#documentModal')
        .on('shown.bs.modal',
          function (e) {
            var modalHeight = $('#documentModal')
              .find(".modal-content")
              .height();

            var bodyHeight = $("body").height();

            if (bodyHeight < modalHeight) {
              OnResize(modalHeight - bodyHeight + 60);
            }
          })
        .on('show.bs.modal',
          function (e) {
            $('#sessionDocumentsModal').modal("hide");
          })
        .on('hidden.bs.modal',
          function (e) {
            $('#sessionDocumentsModal').modal("show");
          });

      $("#sessionDocumentsModal")
        .on('shown.bs.modal',
          function (e) {
            var modalHeight = $('#sessionDocumentsModal')
              .find(".modal-content")
              .height();

            var bodyHeight = $("body").height();

            defaultBodyHeight = bodyHeight;

            if (bodyHeight < modalHeight) {
              OnResize(modalHeight - bodyHeight + 60);
            }

            OnScrollTop();
          })
        .on('hidden.bs.modal',
          function (e) {
            var bodyHeight = $("body").height();

            OnResize(bodyHeight - defaultBodyHeight + 10);

            OnScrollTop();
          });
    });

    function updateSessionsPlaceholder(content) {
      $('#sessions_placeholder').html(content);

      init_session_items();
    }

    function getSessionContent(sessionId) {

      $("#convocation_placeholder").hide();

      $.ajax({
        type: "GET",
        url: baseUrl + "Users/PlenaryMeetings/ConvocationsSessions/" + sessionId + "?baseSiteName=" + baseSiteName,
        contentType: "application/json",
        success: function (data) {
          if (data) {
            updateSessionsPlaceholder(data);

            $("#convocation_placeholder .title")
              .show()
              .find("span")
              .text($('#convocations').children('option:selected').text());
          } else {
            updateSessionsPlaceholder("<h1>Ошибка получения информации с сервера</h1>");

            $("#convocation_placeholder .title").hide();
          }
          $("#convocation_placeholder").show();

          $('#convocations').prop("disabled", false);

          defaultBodyHeight = $("body").height();

          OnResize(10);
        },
        error: function () {
          updateSessionsPlaceholder("<h1>Ошибка сервера</h1>");

          $("#convocation_placeholder .title").hide();

          updateSessionsPlaceholder("<h1>Ошибка получения информации с сервера</h1>");

          $("#convocation_placeholder").show();

          $('#convocations').prop("disabled", false);
        }
      });
    }

    function init_session_items() {

      $('#sessions_placeholder')
        .find(".session-item")
        .click(function () {
          var that = $(this);

          var cType = that.attr("content-type");
          var cId = that.attr("content-id");

          switch (cType) {
            case "annotation":
            case "agenda":
              showAgendaAnnotation(cType, cId);
              OnScrollTop();
              break;
            case "documents":
              var sNumber = that.attr("session-number");
              var sType = that.attr("session-type");
              showSessionDocuments(cId, sNumber, sType);
              OnScrollTop();
              break;
            default:
              break;
          }

          return false;
        });
    }

    function showAgendaAnnotation(cType, id) {

      $.ajax({
        type: "GET",
        url: baseUrl +
          (cType === "agenda" ? "Users/PlenaryMeetings/SessionAgenda/" : "Users/PlenaryMeetings/SessionAnnotation/") +
          id,
        contentType: "application/json",
        success: function (data) {
          if (data.success) {
            $("#sessionDocumentsModal").find("h3.modal-title").text(data.title);
            $("#sessionSummaryDownload").hide();
            $("#sessionDocumentsModal").find("span.small-text").hide();
            $("#sessionDocumentsModal").find(".modal-body").html("<div style='white-space: pre-wrap; text-align: justify;'>" + data.text + "</div>");
            $('#sessionDocumentsModal').modal("show");
          }
        },
        error: function () {

        }
      });
    }

    function showSessionDocuments(id, sessionNumber, sessionType) {

      var sType = sessionType === "Очередная"
        ? "Очередное"
        : sessionType === "Внеочередная"
          ? "Внеочередное"
          : sessionType;

      $.ajax({
        url: baseUrl + "Users/PlenaryMeetings/Find?id=" + id + "&baseSiteName=" + baseSiteName,
        method: 'GET',
        success: function (data) {

          var title = "" + sType
            + " "
            + sessionNumber
            + " пленарное заседание";

          $("#sessionDocumentsModal").find("h3.modal-title").text(title);
          $("#sessionDocumentsModal").find("span.small-text").text("Найдено " + data.count + " документов").show();
          $("#sessionSummaryDownload").show();
          $("#sessionDocumentsModal").find("a#sessionSummaryDownload").attr("href", baseUrl + "Files/File/GetSessionSummary/" + id + "?baseSiteName=" + baseSiteName);
          $("#sessionDocumentsModal").find(".modal-body").html(data.context);
          initCard();
          $('#sessionDocumentsModal').modal("show");
        },
        error: function () {

        }
      });
    }

    function initCard() {
      $("#sessionDocumentsModal")
        .find(".modal-body")
        .find(".card-anchor")
        .click(function () {
          var uuid = $(this).attr("documentuuid");
          CardShowModal(uuid);
          OnScrollTop();
          return false;
        });
    }

    function downloadDoc() {

      return false;
    }
  </script>
}
