<div *ngIf="null === user">Загрузка...</div>

<form class="form-user" [formGroup]="userFormGroup" (ngSubmit)="save()">
  <div class="modal-header">
    <h4 class="modal-title">Пользователь</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div *ngIf="error" class="alert alert-danger">Произошла ошибка пои сохранении данных.</div>
      <tabset>
        <tab heading="Основные">
          <div class="form-group">
            <label for="fullName">ФИО</label>
            <input class="form-control" type="text" name="fullName" formControlName="fullName" id="fullName" [attr.disabled]="user.onlyPasswordChange?'':null"/>
            <p class="alert alert-danger" *ngIf="userFormGroup.controls.fullName.errors?.required && userFormGroup.controls.fullName.touched">Требуется указать имя пользователя</p>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" formControlName="email" id="email" [value]="user?.email" [attr.disabled]="user.onlyPasswordChange?'':null" />
            <p class="alert alert-danger" *ngIf="userFormGroup.controls.email.errors?.required && userFormGroup.controls.email.touched">Требуется указать e-mail</p>
            <p class="alert alert-danger" *ngIf="userFormGroup.controls.email.errors?.email && userFormGroup.controls.email.touched">Некорректный формат e-mail</p>
          </div>
          <div class="form-group">
            <label for="password">Новый пароль</label>
            <input class="form-control" type="password" name="password" formControlName="password" id="password"/>
          </div>
          <div class="form-group">
            <label for="password">Подтвердите пароль</label>
            <input class="form-control" type="password" name="confirmPassword" formControlName="confirmPassword" id="confirmPassword"/>
          </div>
        </tab>
        <tab heading="Роли">
          <div [formGroup]="rolesFormGroup">
            <div class="form-group" *ngFor="let role of roles">
              <input class="form-check-input" type="checkbox" name="roles" formControlName="{{role.roleName}}" id="{{role.roleName}}" [attr.disabled]="user.onlyPasswordChange?'':null"/>
              <label for="{{role.roleName}}">{{role.description || role.roleName}}</label>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="bsModalRef.hide()">Закрыть</button>
    <button class="btn btn-primary" type="submit" [disabled]="!userFormGroup.valid">Сохранить</button>
  </div>
</form>

